openapi: 3.2.0
info:
  version: v1
  title: AudaConnect Internal Data API
  description: 'AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2'
  contact:
    name: Audatex UK
    url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help
    email: servicedesk@audatex.co.uk
servers:
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
tags:
- name: InternalData
paths:
  /api/internal/search:
    get:
      tags:
      - InternalData
      summary: Get a list of internal data relating to a specific vehicle registration.
      operationId: InternalData_Search
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
      security:
      - oauth2:
        - Internal.DataServices
    post:
      tags:
      - InternalData
      summary: Get a list of internal data relating to a specific vehicle registration.
      operationId: InternalData_SearchWithParameters
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
      security:
      - oauth2:
        - Internal.DataServices
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
        description: Array of SearchParameters.
        required: true
  /api/internal/search/restricted:
    post:
      tags:
      - InternalData
      summary: Get a list of internal data relating to a specific vehicle registration.
      operationId: InternalData_SearchWithArguments
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.InternalData'
      security:
      - oauth2:
        - Internal.DataServices
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.SearchArguments'
          text/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.SearchArguments'
          application/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.SearchArguments'
          text/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.SearchArguments'
        description: Combined SearchParameters and SearchRestrictions.
        required: true
  /api/internal/summarysearch:
    get:
      tags:
      - InternalData
      summary: Get a list of internal data relating to a specific vehicle registration.
      operationId: InternalData_SummarySearch
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
      security:
      - oauth2:
        - Internal.DataServices
    post:
      tags:
      - InternalData
      summary: Get a list of internal data relating to a specific vehicle registration.
      operationId: InternalData_SummarySearchWithParameters
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult'
      security:
      - oauth2:
        - Internal.DataServices
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
        description: Array of SearchParameters.
        required: true
  /api/internal/assessment/{id}:
    get:
      tags:
      - InternalData
      summary: Get a specific assessment
      operationId: InternalData_GetAssessment
      parameters:
      - name: id
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      - name: companyId
        in: query
        description: The unique ID of the company.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
      security:
      - oauth2:
        - Internal.DataServices
  /api/internal/assessment/{assessmentId}/images/{imageId}:
    get:
      tags:
      - InternalData
      summary: Get a specific image
      operationId: InternalData_GetImage
      parameters:
      - name: assessmentId
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      - name: imageId
        in: path
        description: The unique ID of the image.
        required: true
        schema:
          type: string
          format: uuid
      - name: companyId
        in: query
        description: The unique ID of the company
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - Internal.DataServices
components:
  schemas:
    AudaAPI.Models.SalvagePart:
      type: object
      properties:
        Amount:
          format: double
          type: number
        ApplyMarkUp:
          type: boolean
        AudaSalvageId:
          format: uuid
          type: string
        AuthCost:
          format: double
          type: number
        AuthDate:
          format: date-time
          type: string
        ConfirmationStatus:
          format: int32
          type: integer
        ConfirmDate:
          format: date-time
          type: string
        DeleteNoteSent:
          type: boolean
        DescriptionText:
          type: string
        DiscountPC:
          format: double
          type: number
        Distance:
          format: double
          type: number
        GuideNumber:
          format: int32
          type: integer
        MarkUP:
          format: double
          type: number
        OEMAmount:
          format: double
          type: number
        OEMPartNumber:
          type: string
        PartId:
          format: uuid
          type: string
        PartNumber:
          type: string
        ReplacementType:
          enum:
          - Uninitialised
          - SecondHand
          - Exchange
          - Parallel
          - AudaSalvage
          - IdentPart
          - UsedOEMPart
          - ContractSupplier
          - AlternativeParts
          - OtherParts
          - OemParts
          - AftermarketParts
          - OriginalParts
          type: string
        RequestDate:
          format: date-time
          type: string
        SalvPartProcStatusEnum:
          enum:
          - ReverseQuoteSent
          - Requested
          - Reserved
          - OutOfStock
          - Ignored
          - Unknown
          - Expired
          type: string
        Saving:
          format: double
          type: number
        SavingPC:
          format: double
          type: number
        Source:
          type: string
        SupplierCode:
          format: int32
          type: integer
        SupplierName:
          type: string
        SupplierTextCode:
          type: string
    AudaAPI.Models.Authorisation:
      type: object
      properties:
        AuthorisationCode:
          type: string
        AuthorisationDate:
          format: date-time
          type: string
        AuthorisationStatus:
          type: string
        AuthorisationTime:
          format: date-time
          type: string
        DeclineDate:
          format: date-time
          type: string
        DeclineNotes:
          type: string
        DeclineReason:
          type: string
        EngineerReference:
          type: string
        RepairsAuthorised:
          type: string
    AudaAPI.Models.SearchRestriction:
      type: object
      properties:
        RestrictionType:
          type: string
        CompanyIds:
          type: array
          items:
            format: uuid
            type: string
    AudaAPI.Models.CalculationSubType:
      type: object
      properties:
        RepairType:
          enum:
          - Uninitialised
          - Repair
          - Renew
          - Paint
          - RemoveReplace
          - CorrosionProtection
          - Check
          - Adjustment
          - DentRepair
          - Maintenance
          - Notation
          - PossibleDamage
          - Specialist
          - Watermark
          - Other
          type: string
        SplitPartType:
          type: string
    AudaAPI.Models.TTSVechPart:
      type: object
      properties:
        ActionType:
          format: int32
          type: integer
        ADBRef:
          type: string
        AltPartsNumber:
          type: string
        CAFTime:
          format: double
          type: number
        CPTypes:
          type: string
        DataSource:
          format: int32
          type: integer
        Description:
          type: string
        HasAltParts:
          type: boolean
        InCombinations:
          type: string
        IsCalculated:
          type: boolean
        IsCombination:
          type: boolean
        IsFRHanded:
          type: boolean
        IsHanded:
          type: boolean
        IsIncluded:
          type: boolean
        IsNonDisable:
          type: boolean
        IsObsOccurance:
          type: boolean
        IsOpinionPnl:
          type: boolean
        IsOpinionPrice:
          type: boolean
        IsOpinionTime:
          type: boolean
        IsPartSelected:
          type: boolean
        IsRepeatable:
          type: boolean
        IsSubMETBlend:
          type: boolean
        IsSubMETRepair:
          type: boolean
        IsSubPart:
          type: boolean
        PaintTime:
          format: double
          type: number
        PanelSize:
          format: double
          type: number
        ParentId:
          format: int32
          type: integer
        PartBetterment:
          format: double
          type: number
        PartBettermentPc:
          format: double
          type: number
        Quantity:
          format: int32
          type: integer
        SequenceId:
          format: int32
          type: integer
        TPSCategory:
          type: string
        TPSRef:
          type: string
        TTSRef:
          type: string
        WorkType:
          format: int32
          type: integer
        TTSVechPartDetail:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSVechPartDetail'
    AudaAPI.Models.AudaHailRepair:
      type: object
      properties:
        AudaHailInfo:
          type: string
    AudaAPI.Models.User:
      type: object
      properties:
        Id:
          format: uuid
          type: string
        LoginName:
          type: string
        CompanyCode:
          type: string
        CreationDate:
          format: date-time
          type: string
        Description:
          type: string
        EMail:
          type: string
        FirstName:
          type: string
        LastName:
          type: string
        IsOnline:
          type: boolean
        LastActivityDate:
          format: date-time
          type: string
        Status:
          type: string
    AudaAPI.Models.AttachmentContent:
      type: object
      properties:
        CreationDate:
          format: date-time
          type: string
        Data:
          format: byte
          type: string
    AudaAPI.Models.Site:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        Contact:
          $ref: '#/components/schemas/AudaAPI.Models.Contact'
        Address:
          $ref: '#/components/schemas/AudaAPI.Models.Address'
        AKAName:
          type: string
        CompanyName:
          type: string
        SiteId:
          type: string
        ExternalCode:
          type: string
    AudaAPI.Models.PNETQPaint:
      type: object
      properties:
        PaintAmount:
          format: double
          type: number
        PaintDescription:
          type: string
        PaintGroup:
          format: int32
          type: integer
        PaintHours:
          format: double
          type: number
        PaintRate:
          format: double
          type: number
        PaintWorkType:
          type: string
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
    AudaAPI.Models.Recovery:
      type: object
      properties:
        Comments:
          type: string
        CompanyName:
          type: string
        CrashSiteRecoveryDate:
          format: date-time
          type: string
        RecoveryDate:
          format: date-time
          type: string
        RecoveryFromCrashSite:
          type: boolean
        RecoveryNeeded:
          type: boolean
    AudaAPI.Models.Address:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        PostCode:
          type: string
    AudaAPI.Models.DamageEstimate:
      type: object
      properties:
        Model:
          $ref: '#/components/schemas/AudaAPI.Models.Model'
        AudaHailRepair:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.AudaHailRepair'
        Repair:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Repair'
        FrozenPart:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.FrozenPart'
        CalculationSubType:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.CalculationSubType'
        Rate:
          $ref: '#/components/schemas/AudaAPI.Models.Rate'
        ItemDepreciation:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ItemDepreciation'
        TTSCalc:
          $ref: '#/components/schemas/AudaAPI.Models.TTSCalc'
        SalvagePart:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SalvagePart'
        Calculation:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Calculation'
    AudaAPI.Models.PartSupplier:
      type: object
      properties:
        Active:
          type: boolean
        Code:
          type: string
        Description:
          type: string
        Indicator:
          type: string
        ManufacturerCode:
          type: string
        PartSupplierType:
          enum:
          - AudaSourceSupplier
          - AlternativePriceList
          type: string
        Reference:
          type: string
        AlternativePriceList:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.AlternativePriceList'
    AudaAPI.Models.Paint:
      type: object
      properties:
        AreaCount:
          format: int32
          type: integer
        AreaIndicator:
          type: string
        BettermentDeductionPcnt:
          format: double
          type: number
        FixedRateAmt:
          format: double
          type: number
        FixedRateIndicator:
          type: string
        MaterialUnitsCount:
          format: int32
          type: integer
        PnlDiscnt:
          format: double
          type: number
        MarutiPaint:
          $ref: '#/components/schemas/AudaAPI.Models.MarutiPaint'
        CodeText:
          type: string
        WUCount:
          format: double
          type: number
        WUIndicator:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.SearchParameters:
      type: object
      properties:
        SearchClauses:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SearchClause'
    AudaAPI.Models.InvalidPart:
      type: object
      properties:
        ErrorCode:
          type: string
        Description:
          type: string
        PartNumber:
          type: string
        GuideNumber:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.PNETInvoice:
      type: object
      properties:
        CollectedContribution:
          format: double
          type: number
        CollectedExcess:
          format: double
          type: number
        GST:
          format: double
          type: number
        TaxInvoiceNumber:
          type: string
        TotalAmountExGST:
          format: double
          type: number
        TotalAmountInclGST:
          format: double
          type: number
        PNETInvoiceItem:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETInvoiceItem'
        PNETInvoiceStatus:
          $ref: '#/components/schemas/AudaAPI.Models.PNETInvoiceStatus'
    AudaAPI.Models.TTSPMTotals:
      type: object
      properties:
        ActionType:
          format: int32
          type: integer
        PanelSize:
          format: double
          type: number
        PMCost:
          format: double
          type: number
    AudaAPI.Models.GeneralCosts:
      type: object
      properties:
        DeductionAdditionalAmt:
          format: double
          type: number
        LabourAmt5:
          format: double
          type: number
        LabourPanelMechAmt:
          format: double
          type: number
        LbrAmtDecrease:
          format: double
          type: number
        LbrAmtIncrease:
          format: double
          type: number
        PartsAmt:
          format: double
          type: number
        PartsSaving:
          format: double
          type: number
        SundryPartsAmt:
          format: double
          type: number
        SundryPartsPcnt:
          format: double
          type: number
        TotalLabourAmt:
          format: double
          type: number
        TotalPartsAmt:
          format: double
          type: number
        VisualAlignmentAmt:
          format: double
          type: number
        TotalAdditionalCosts:
          format: double
          type: number
        TotalExtrasAmt:
          format: double
          type: number
        CorrProtection01Amt:
          format: double
          type: number
        OverAllDiscountAmt:
          format: double
          type: number
        TotalDeductionAmt:
          format: double
          type: number
    AudaAPI.Models.SearchClause:
      type: object
      properties:
        LogicalType:
          type: string
        FieldName:
          type: string
        Operator:
          type: string
        Values:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ValueType'
    AudaAPI.Models.TyreDepth:
      type: object
      properties:
        Axle:
          format: int32
          type: integer
        LeftTyre:
          format: double
          type: number
        RightTyre:
          format: double
          type: number
    AudaAPI.Models.PNETData:
      type: object
      properties:
        AuthorisedQuoteNumber:
          type: string
        AuthorisedSQuoteNumber:
          type: string
        CorporateCustomer:
          type: string
        ExtraQuoteInfReq:
          type: boolean
        PaintType:
          type: string
        QuoteRequestNumber:
          type: string
        QuoteRequestStatus:
          enum:
          - Uninitialised
          - Active
          - Responded
          - Win
          - Lose
          - TotalLoss
          - Cancelled
          type: string
        QuoteRequestVersionNumber:
          format: int32
          type: integer
        QuotingMethod:
          type: string
        RepairAuthNumber:
          format: int32
          type: integer
        SubmittedQuoteNumber:
          type: string
        SupplementaryAuthNumber:
          format: int32
          type: integer
        SupplementaryQuoteNumber:
          type: string
        SupplementaryStatus:
          enum:
          - Uninitialised
          - Active
          - Responded
          - Win
          - Lose
          - TotalLoss
          - Cancelled
          type: string
        PNETInvoice:
          $ref: '#/components/schemas/AudaAPI.Models.PNETInvoice'
        PNETQuote:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQuote'
    AudaAPI.Models.WorkProvider:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        Description:
          type: string
        Code:
          format: int32
          type: integer
    AudaAPI.Models.TTSVechPartDetail:
      type: object
      properties:
        JobAllow0:
          format: double
          type: number
        JobAllow1:
          format: double
          type: number
        JobAllow2:
          format: double
          type: number
        JobAllow3:
          format: double
          type: number
        PartPrice0:
          format: double
          type: number
        PartPrice1:
          format: double
          type: number
        PartPrice2:
          format: double
          type: number
        PartPrice3:
          format: double
          type: number
        PnlSize0:
          format: double
          type: number
        PnlSize1:
          format: double
          type: number
        PnlSize2:
          format: double
          type: number
        PnlSize3:
          format: double
          type: number
        RepairTime0:
          format: double
          type: number
        RepairTime1:
          format: double
          type: number
        RepairTime2:
          format: double
          type: number
        RepairTime3:
          format: double
          type: number
        SequenceId:
          format: int32
          type: integer
    AudaAPI.Models.NetworkOrigin:
      type: object
      properties:
        FromLocation:
          type: string
    AudaAPI.Models.MailAssessorResponse:
      type: object
      properties:
        AgreedRates:
          type: string
        Amount:
          format: double
          type: number
        DateOfNextVisit:
          format: date-time
          type: string
        PreAccidentValue:
          format: double
          type: number
        ResponseDate:
          format: date-time
          type: string
        SalvageOffer:
          format: double
          type: number
        SalvageValue:
          format: double
          type: number
        WorkProviderMessage:
          $ref: '#/components/schemas/AudaAPI.Models.WorkProviderMessage'
    AudaAPI.Models.MailInstructions:
      type: object
      properties:
        AccountFrom:
          type: string
        AuditDetails:
          type: string
        CollectAboveVehicleRepair:
          type: boolean
        CollectionByTrailer:
          type: boolean
        CollectVehicle:
          type: boolean
        CourtesyCarRequired:
          type: boolean
        EngineerInspectPriorRep:
          type: boolean
        FurtherInspectionRequired:
          type: boolean
        GarageVisitedNoVehicle:
          type: boolean
        GivenToIndependentEngineer:
          type: boolean
        InspectionRequest:
          type: boolean
        InsuredThirdPartyAddress:
          type: boolean
        InviteSalvageBuyer:
          type: boolean
        NoRepairInstructionGiven:
          type: boolean
        PermissionToMoveVehicle:
          type: boolean
        PersonalInjuryClaim:
          type: boolean
        PhotosRequired:
          type: boolean
        PhotosTaken:
          type: boolean
        PreferredEstimateType:
          type: string
        RecoveryCostsToBePaid:
          type: boolean
        RegistrationDocRetained:
          type: boolean
        RepairerNotKnown:
          type: boolean
        RepairsAuthorisedNoInspect:
          type: boolean
        StorageCostsToBePaid:
          type: boolean
        ThirdPartyClaim:
          type: boolean
        UrgentCollectStorageCost:
          type: boolean
        VehicleInspected:
          type: boolean
        VehicleRegistrationMOTDoc:
          type: boolean
    AudaAPI.Models.PNETInvoiceItem:
      type: object
      properties:
        AmountInclGST:
          format: double
          type: number
        AuthorityNumber:
          format: int32
          type: integer
        PNETQuoteNumber:
          type: string
        PNETQSublet:
          $ref: '#/components/schemas/AudaAPI.Models.PNETQSublet'
        PNETQuote:
          $ref: '#/components/schemas/AudaAPI.Models.PNETQuote'
    AudaAPI.Models.FrozenPart:
      type: object
      properties:
        DateFrozen:
          format: date-time
          type: string
        Freeze:
          type: boolean
        AmountFrozen:
          format: double
          type: number
        AmountLastCalculated:
          format: double
          type: number
        Description:
          type: string
        PartNumber:
          type: string
        GuideNumber:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.TTSCalcTotals:
      type: object
      properties:
        BLineDisc:
          format: double
          type: number
        CustResp:
          format: double
          type: number
        GrandIncVAT:
          format: double
          type: number
        JobSubTotal:
          format: double
          type: number
        JobVAT:
          format: double
          type: number
        LabDisc:
          format: double
          type: number
        LabDiscd:
          format: double
          type: number
        MiscDisc:
          format: double
          type: number
        MiscDiscd:
          format: double
          type: number
        PartDisc:
          format: double
          type: number
        PartDiscd:
          format: double
          type: number
        TTSLabourTotals:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSLabourTotals'
        TTSMiscTotals:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSMiscTotals'
        TTSPMTotals:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSPMTotals'
        TTSPartTotals:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSPartTotals'
    AudaAPI.Models.SearchArguments:
      type: object
      properties:
        SearchParameters:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
        SearchRestriction:
          $ref: '#/components/schemas/AudaAPI.Models.SearchRestriction'
    AudaAPI.Models.RVSAppliedBusChannel:
      type: object
      properties:
        DateApplied:
          format: date-time
          type: string
        RVSBusChannel:
          format: uuid
          type: string
        AeeBusRole:
          $ref: '#/components/schemas/AudaAPI.Models.User'
    AudaAPI.Models.ImpactDirection:
      type: object
      properties:
        ImpactStartArea:
          type: string
        ImpactEndArea:
          type: string
    AudaAPI.Models.Extra:
      type: object
      properties:
        LabourText:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.Salvage:
      type: object
      properties:
        AudaSalvageId:
          format: uuid
          type: string
        BidsObtained:
          enum:
          - Uninitialised
          - Obtained
          - Required
          type: string
        CashInLieu:
          format: double
          type: number
        CashInLieuFlag:
          type: boolean
        CauseOfDamage:
          enum:
          - Uninitialised
          - Accident
          - Theft
          - Fire
          - Storm
          - Flood
          - Vandalised
          - SeeComments
          type: string
        ChargesWaived:
          enum:
          - UnInitialised
          - WaivingCharges
          - RecoveryAndStorage
          - RecoveryOnly
          - StorageOnly
          - SeeComments
          - GrossOffer
          type: string
        ClearedForDisposal:
          type: boolean
        DailyStorageCharge:
          format: double
          type: number
        DailyStorageTBA:
          type: boolean
        DateValueAgreed:
          format: date-time
          type: string
        HldGrgInterested:
          type: boolean
        HldGrgOffer:
          format: double
          type: number
        KeyHolder:
          enum:
          - Uninitialised
          - OnFile
          - HoldingGarageOrStorageCentre
          - PolicyHolder
          - TBA
          type: string
        LiabilityCode:
          enum:
          - Uninitialised
          - Fault
          - NonFault
          - TBA
          type: string
        MayMoveSalvage:
          type: boolean
        NetworkToSalvageAgent:
          type: boolean
        NewForOld:
          enum:
          - Uninitialised
          - 'Yes'
          - 'No'
          - TBA
          type: string
        OwnerRetainsSalvage:
          format: double
          type: number
        OwnerRetainsSalvageFlag:
          type: boolean
        PersonalEffectsPresent:
          type: boolean
        PreAccidentValue:
          format: double
          type: number
        RecoveryCharge:
          format: double
          type: number
        RecoveryTBA:
          type: boolean
        SalvageAction:
          enum:
          - Uninitialised
          - MoveAndCircularise
          - MoveVehicle
          - Circularise
          - OwnerRetains
          - InformationOnly
          - Target
          type: string
        SalvageCategory:
          enum:
          - Uninitialised
          - Scrap
          - Breaker
          - RepairableTLoss
          - RepairableConstructiveTLoss
          - TotalLossDenotedByRepairer
          - StolenRecovered
          - StolenNotRecovered
          - RecoveredNotDamaged
          - StatutoryTotalLoss
          - RepairableElectToAuction
          - WOVRNotApplicable
          - NonStructuralDamage
          - StructuralDamage
          type: string
        SalvageProcessStatusEnum:
          enum:
          - Unknown
          - ReverseQuoteSent
          - Requested
          - Confirmed
          type: string
        SalvageReference:
          type: string
        SalvageValue:
          format: double
          type: number
        SelectedValuation:
          enum:
          - Uninitialised
          - Glasses
          - Parkers
          - CAP
          - Specialist
          - MandM
          - CarSales
          - LCV4x4
          - RedBook
          type: string
        SellingVehicle:
          enum:
          - Uninitialised
          - NotReadyToSell
          - ReadyToSell
          - TBA
          type: string
        StorageStartDate:
          format: date-time
          type: string
        TotalLossDetails:
          enum:
          - Uninitialised
          - IsATotalLoss
          - MayBeATotalLoss
          - TBA
          type: string
        TotalStorageCharge:
          format: double
          type: number
        TotalStorageTBA:
          type: boolean
        ValueAgreed:
          format: double
          type: number
        ValueAgreedFlag:
          type: boolean
        VehicleAtInsured:
          type: boolean
        VehicleDriveable:
          enum:
          - Uninitialised
          - Driveable
          - NotDriveable
          - TBA
          type: string
        SalvageTypeOfDamage:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SalvageTypeOfDamage'
        Recovery:
          $ref: '#/components/schemas/AudaAPI.Models.Recovery'
    AudaAPI.Models.Location:
      type: object
      properties:
        LocationType:
          enum:
          - Undefined
          - Owner
          - Repairer
          - Vehicle
          - Accident
          type: string
        Name:
          type: string
        PostCode:
          type: string
    AudaAPI.Models.SalvageTypeOfDamage:
      type: object
      properties:
        TypeOfDamage:
          enum:
          - Uninitialised
          - AccidentBodyshell
          - AccidentOffside
          - AccidentFront
          - AccidentNearside
          - AccidentOverturned
          - AccidentRear
          - TheftPilfered
          - TheftRecovered
          - TheftStripped
          - TheftVandalised
          - FireElectrical
          - FireBurnout
          - FireInterior
          - FireMechanical
          - StormBodyshell
          - StormOffside
          - StormFront
          - StormMechanical
          - StormNearside
          - StormOverturned
          - StormRear
          - StormRoof
          - FloodRiverFresh
          - FloodSeaSaline
          - VandalisedBodyshell
          - VandalisedElectrical
          - VandalisedInterior
          - VandalisedMechanical
          - VandalisedExterior
          - FloodSewage
          type: string
    AudaAPI.Models.ClientAuditResult:
      type: object
      properties:
        AuditDate:
          format: date-time
          type: string
        AuditDetails:
          type: string
        AuditState:
          enum:
          - Pass
          - Warning
          - Fail
          type: string
        EngineerReference:
          type: string
    AudaAPI.Models.OriginalPart:
      type: object
      properties:
        Amount:
          format: double
          type: number
        Description:
          type: string
        PartNumber:
          type: string
    AudaAPI.Models.Part:
      type: object
      properties:
        Amount:
          format: double
          type: number
        ReferenceSequence:
          format: int32
          type: integer
        OriginalPart:
          $ref: '#/components/schemas/AudaAPI.Models.OriginalPart'
        Description:
          type: string
        PartNumber:
          type: string
        GuideNumber:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.IndiaClaim:
      type: object
      properties:
        AccidentPlace:
          type: string
        AllotmentOfSurveyorDate:
          format: date-time
          type: string
        ApproxLiabilityGivenDate:
          format: date-time
          type: string
        ApproxLiabilityGivenTo:
          type: string
        ClaimFormReceived:
          type: boolean
        ClaimFormVerified:
          type: boolean
        DamageTally:
          type: boolean
        DateOfTheft:
          format: date-time
          type: string
        DealerOutletCode:
          format: int32
          type: integer
        DriverBadgeNumber:
          type: string
        DriverCharged:
          type: boolean
        DriverChargeDetails:
          type: string
        DriverEmployed:
          format: double
          type: number
        DriverEmployedUnits:
          enum:
          - Unknown
          - Years
          - Months
          - Days
          type: string
        DriverIntoxicated:
          type: boolean
        DrivingLicenceReceived:
          type: boolean
        DrivingLicenceVerified:
          type: boolean
        Endorsements:
          type: string
        ExcessImposed:
          format: double
          type: number
        ExcessVoluntary:
          format: double
          type: number
        FeedbackGivenDate:
          format: date-time
          type: string
        FeedbackGivenTo:
          type: string
        GoodsCarried:
          type: string
        GoodsCarriedUnit:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        GoodsCarriedWeight:
          format: double
          type: number
        Hypothecation:
          type: boolean
        IncidentReportedToPolice:
          type: boolean
        IntimationReceivedDate:
          format: date-time
          type: string
        IntimationReceivedFrom:
          type: string
        LegalCaseRegistered:
          type: boolean
        LegalCaseStatus:
          type: string
        LoadCarryingCapacity:
          format: double
          type: number
        LoadCarryingUnits:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        LoadChallanVerified:
          type: boolean
        NameOfCourt:
          type: string
        OccupantsInjuryDeath:
          type: boolean
        PassengerNumbers:
          format: int32
          type: integer
        PassengerNumbersPermitted:
          format: int32
          type: integer
        PermitType:
          enum:
          - Unknown
          - National
          - State
          type: string
        PlaceOfTheft:
          type: string
        PoliceStationName:
          type: string
        PreviousAccident:
          type: boolean
        RegCertReceived:
          type: boolean
        RegCertVerified:
          type: boolean
        RegisteredLadenWeight:
          format: double
          type: number
        RegistrationType:
          enum:
          - Unknown
          - Commercial
          - NonCommercial
          type: string
        RegLadenWgtUnits:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        ReinspectionDate:
          format: date-time
          type: string
        RoadTaxValidToDate:
          format: date-time
          type: string
        SettlementMode:
          enum:
          - Unknown
          - RepairBasis
          - TotalLoss
          - CashLoss
          type: string
        SpotSurveyReceivedDate:
          format: date-time
          type: string
        SubmitSalvage:
          type: boolean
        TheftCase:
          type: boolean
        ThirdPartyInjuryDeath:
          type: boolean
        ThirdPartyPropertyDamage:
          type: boolean
        VehicleFitnessToDate:
          format: date-time
          type: string
        VehiclePurpose:
          enum:
          - Unknown
          - Personal
          - Business
          - Hire
          - Racing
          - Testing
          type: string
        VehicleSpeed:
          format: int32
          type: integer
        WasSidecarAttached:
          type: boolean
        WasTrailerAttached:
          type: boolean
        Parties:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Parties'
    AudaAPI.Models.Repair:
      type: object
      properties:
        OperationType:
          type: string
        GuideNumber:
          format: int32
          type: integer
        RepairMethod:
          type: string
        WorkUnits:
          format: int32
          type: integer
        Price:
          format: double
          type: number
        Comment:
          type: string
        Description:
          type: string
        WorkText:
          type: string
        BettermentPercent:
          format: double
          type: number
        Mutations:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Mutation'
    AudaAPI.Models.PNETInvoiceStatus:
      type: object
      properties:
        ABN:
          type: string
        CompanyName:
          type: string
        StatusCode:
          format: int32
          type: integer
        StatusCodeDescription:
          type: string
        StatusDescription:
          type: string
        TaxInvoiceDate:
          format: date-time
          type: string
    AudaAPI.Models.PNETQSublet:
      type: object
      properties:
        Invoiced:
          type: boolean
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
        SubletAmount:
          format: double
          type: number
        SubletAuthorityDoc:
          format: byte
          type: string
        SubletAuthorityNum:
          format: int32
          type: integer
        SubletDescription:
          type: string
        SubletManagementFlg:
          type: string
        SubletRepairer:
          type: string
        SubletRepairerAddr:
          type: string
        SubletRepairerPhn:
          type: string
        SubletType:
          type: string
    AudaAPI.Models.AssessmentView:
      type: object
      properties:
        Obid:
          format: uuid
          type: string
        UserId:
          format: uuid
          type: string
        LockedBy:
          $ref: '#/components/schemas/AudaAPI.Models.LockedBy'
        SnapshotId:
          format: uuid
          type: string
        AssessmentNumber:
          type: string
        AssessmentType:
          enum:
          - Audatex
          - Thatcham
          - Standard
          - Manual
          - Glass
          - Industrial
          type: string
        Created:
          format: date-time
          type: string
        CreationDate:
          format: date-time
          type: string
        CreatorSiteId:
          type: string
        CustomerNumber:
          type: string
        LastUpdatedBy:
          type: string
        LastUpdatedDate:
          format: date-time
          type: string
        LightEstMenuId:
          format: uuid
          type: string
        Originator:
          type: string
        State:
          type: string
        TransmissionFlag:
          format: int32
          type: integer
        UnRead:
          type: boolean
        UserStatus:
          type: string
        VersionAssessment:
          format: int32
          type: integer
        VoucherGenerated:
          type: boolean
        WAN:
          type: string
        WorkstationVersion:
          type: string
        RVSAppliedBusChannel:
          $ref: '#/components/schemas/AudaAPI.Models.RVSAppliedBusChannel'
        CurrencyDefinition:
          $ref: '#/components/schemas/AudaAPI.Models.CurrencyDefinition'
        ClientAuditResult:
          $ref: '#/components/schemas/AudaAPI.Models.ClientAuditResult'
        Vehicle:
          $ref: '#/components/schemas/AudaAPI.Models.Vehicle'
        Claim:
          $ref: '#/components/schemas/AudaAPI.Models.Claim'
        DamageEstimate:
          $ref: '#/components/schemas/AudaAPI.Models.DamageEstimate'
        Text:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Note'
        LocalNotes:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Note'
        ImageMetadata:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ImageMetadata'
        TTSCLCContent:
          $ref: '#/components/schemas/AudaAPI.Models.TTSCLCContent'
        NetworkOrigin:
          $ref: '#/components/schemas/AudaAPI.Models.NetworkOrigin'
        AssessmentTag:
          $ref: '#/components/schemas/AudaAPI.Models.AssessmentTag'
        WorkProvider:
          $ref: '#/components/schemas/AudaAPI.Models.WorkProvider'
        CountryState:
          $ref: '#/components/schemas/AudaAPI.Models.CountryState'
        NetworkDestination:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.NetworkDestination'
        PriceList:
          $ref: '#/components/schemas/AudaAPI.Models.PartSupplier'
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Contact'
        Authorisation:
          $ref: '#/components/schemas/AudaAPI.Models.Authorisation'
        AttachmentHeader:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.AttachmentHeader'
        PNETData:
          $ref: '#/components/schemas/AudaAPI.Models.PNETData'
        MailHeader:
          $ref: '#/components/schemas/AudaAPI.Models.MailHeader'
        IndiaClaim:
          $ref: '#/components/schemas/AudaAPI.Models.IndiaClaim'
        CourtesyCar:
          $ref: '#/components/schemas/AudaAPI.Models.CourtesyCar'
        Policy:
          $ref: '#/components/schemas/AudaAPI.Models.Policy'
        ImageData:
          type: array
          items:
            format: uuid
            type: string
        Locations:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Location'
    AudaAPI.Models.TTSPartTotals:
      type: object
      properties:
        Calculated:
          format: double
          type: number
        Discount:
          format: double
          type: number
        FinalCost:
          format: double
          type: number
        IsOpinion:
          type: boolean
        Opinion:
          format: double
          type: number
        PartType:
          format: int32
          type: integer
    AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult:
      type: object
      properties:
        AccidentDate:
          format: date-time
          type: string
        AssessmentId:
          format: uuid
          type: string
        AssessmentNumber:
          type: string
        AssignedTo:
          type: string
        ClaimReferenceNumber:
          type: string
        CompanyId:
          format: uuid
          type: string
        CompanyName:
          type: string
        CreationDate:
          format: date-time
          type: string
        DataSource:
          type: string
        Odometer:
          type: string
        Originator:
          type: string
        PolicyNumber:
          type: string
        Registration:
          type: string
        RepairCostIncVAT:
          format: double
          type: number
        SalvageCategory:
          type: string
        State:
          type: string
        Status:
          type: string
        VersionDate:
          format: date-time
          type: string
        VIN:
          type: string
        WorkproviderReference:
          type: string
        DateOfInspection:
          format: date-time
          type: string
        WorkStationVersion:
          type: string
        TotalLabourPaintAmt:
          format: double
          type: number
        TotalPartsAmt:
          format: double
          type: number
        TotalLabourAmt:
          format: double
          type: number
        VehicleType:
          type: string
        RepairCount:
          format: int32
          type: integer
    AudaAPI.Models.CountryState:
      type: object
      properties:
        ISOCODE:
          type: string
        CurrencyDefinition:
          $ref: '#/components/schemas/AudaAPI.Models.CurrencyDefinition'
    AudaAPI.Models.AttachmentType:
      type: object
      properties:
        Description:
          type: string
        PermitDefault:
          type: boolean
        Type:
          type: string
    AudaAPI.Models.Policy:
      type: object
      properties:
        PolicyNumber:
          type: string
        ExcessValue:
          format: double
          type: number
        ExcessValueTBA:
          type: boolean
        VATStatus:
          type: string
        VATPortionPayable:
          format: double
          type: number
    AudaAPI.Models.ItemDepreciation:
      type: object
      properties:
        BettermentPcnt:
          format: int32
          type: integer
        Description:
          type: string
        GuideNumber:
          format: int32
          type: integer
        IsCustLiability:
          type: boolean
        IsGenerated:
          type: boolean
        MaterialType:
          enum:
          - Unknown
          - Metal
          - Glass
          - Fibreglass
          - Plastic
          - LightMetal
          - HighStrengthSteel
          - Textile
          - Unpainted
          type: string
    AudaAPI.Models.LockedBy:
      type: object
      properties:
        userName:
          type: string
        LockedOn:
          format: date-time
          type: string
    AudaAPI.Models.Claim:
      type: object
      properties:
        ReferenceName:
          type: string
        DateOfDecision:
          format: date-time
          type: string
        DateOfAccident:
          format: date-time
          type: string
        DateOfAccidentUnknown:
          type: boolean
        DateOfInspection:
          format: date-time
          type: string
        DateBookedForRepair:
          format: date-time
          type: string
        VehicleAtInspectionSite:
          type: boolean
        EngineerInspectionRequested:
          type: boolean
        ClaimNumber:
          type: string
        OtherReference:
          type: string
        PartnerNumber:
          type: string
        HandlingFee:
          format: double
          type: number
        InsuredAmount:
          format: double
          type: number
        RepairValue:
          format: double
          type: number
        RepairValueTBA:
          type: boolean
    AudaAPI.Models.Contact:
      type: object
      properties:
        ContactType:
          type: string
        AbleToAuthorise:
          type: string
        Name:
          type: string
        Title:
          type: string
        Forename:
          type: string
        Surname:
          type: string
        EMailAddress:
          type: string
        Line01:
          type: string
        Line02:
          type: string
        Line03:
          type: string
        Line04:
          type: string
        Line05:
          type: string
        PostCode:
          type: string
        TelHome:
          type: string
        TelBusiness:
          type: string
        TelMobile:
          type: string
        TelOther:
          type: string
        Fax:
          type: string
    AudaAPI.Models.WorkProviderMessage:
      type: object
      properties:
        Code:
          type: string
        Description:
          type: string
    AudaAPI.Models.Mutation:
      type: object
      properties:
        Code:
          type: string
        Value:
          type: string
    AudaAPI.Models.TTSCLCContent:
      type: object
      properties:
        CLCFile:
          format: byte
          type: string
    AudaAPI.Models.PNETQReport:
      type: object
      properties:
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
        ReportItemDescription:
          type: string
    AudaAPI.Models.Labour:
      type: object
      properties:
        LabourClass:
          format: int32
          type: integer
        CodeText:
          type: string
        WUCount:
          format: double
          type: number
        WUIndicator:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.MailHeader:
      type: object
      properties:
        Attention:
          type: string
        Created:
          format: date-time
          type: string
        MessageType:
          enum:
          - Uninitialised
          - Standard
          - InterimAdvice
          - SalvageNotification
          - InstructionForm
          - CourtesyCarForm
          - AuthorisationMessage
          - AuthorityNote
          - SalvageInstruction
          - EngineersSalvageMessage
          - AdministrationMessage
          - AIDAAssignment
          - AIDARCA
          - AIDAInvoice
          - MailConfirmation
          - AgreedCostsNote
          - AssessorResponse
          - SupplementaryApproval
          - PNETMail
          - AssessmentCancallation
          - AdministrationExtMessage
          type: string
        Modified:
          format: date-time
          type: string
        NetworkSendCopy01:
          type: string
        NetworkSendCopy02:
          type: string
        Received:
          format: date-time
          type: string
        SentDate:
          format: date-time
          type: string
        Status:
          enum:
          - Unitialised
          - Partial
          - Completed
          - Transmitted
          - Received
          - Viewed
          - Printed
          type: string
        Subject:
          type: string
        PNETQuote:
          $ref: '#/components/schemas/AudaAPI.Models.PNETQuote'
        MailAssessorResponse:
          $ref: '#/components/schemas/AudaAPI.Models.MailAssessorResponse'
        MailInstructions:
          $ref: '#/components/schemas/AudaAPI.Models.MailInstructions'
    AudaAPI.Models.PNETQuote:
      type: object
      properties:
        AuthorisedAmount:
          format: double
          type: number
        CustomerContribution:
          format: double
          type: number
        Excess:
          format: double
          type: number
        GST:
          format: double
          type: number
        Invoiced:
          type: boolean
        LabourTotal:
          format: double
          type: number
        PaintTotal:
          format: double
          type: number
        PartMarkUpTotal:
          format: double
          type: number
        PartTotal:
          format: double
          type: number
        QuoteNumber:
          type: string
        QuoteTotal:
          format: double
          type: number
        QuoteType:
          enum:
          - R
          - S
          - ADJR
          - ADJS
          - AUTR
          - AUTS
          type: string
        SubletTotal:
          format: double
          type: number
        PNETQReport:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQReport'
        PNETQPaint:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQPaint'
        PNETQPart:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQPart'
        PNETQSublet:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQSublet'
        PNETQLabour:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.PNETQLabour'
    AudaAPI.Models.AssessmentTag:
      type: object
      properties:
        AssessorUserName:
          type: string
        AuthorisingUserName:
          type: string
        EstimatingUserName:
          type: string
        RepairerUser:
          $ref: '#/components/schemas/AudaAPI.Models.User'
        RepairerSite:
          $ref: '#/components/schemas/AudaAPI.Models.Site'
        AssessorUser:
          $ref: '#/components/schemas/AudaAPI.Models.User'
        AuthorisingUser:
          $ref: '#/components/schemas/AudaAPI.Models.User'
        InsurerSite:
          $ref: '#/components/schemas/AudaAPI.Models.Site'
        AuthorisingSite:
          $ref: '#/components/schemas/AudaAPI.Models.Site'
    AudaAPI.Models.PNETQLabour:
      type: object
      properties:
        LabourAmount:
          format: double
          type: number
        LabourDescription:
          type: string
        LabourGroup:
          format: int32
          type: integer
        LabourHours:
          format: double
          type: number
        LabourRate:
          format: double
          type: number
        LabourType:
          type: string
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
    AudaAPI.Models.AttachmentHeader:
      type: object
      properties:
        Comments:
          type: string
        CreationDate:
          format: date-time
          type: string
        DataSize:
          format: int32
          type: integer
        DeletionDate:
          format: date-time
          type: string
        IsHeld:
          type: boolean
        IsSystemAttachment:
          type: boolean
        OriginalFilename:
          type: string
        Private:
          type: boolean
        SequenceNumber:
          format: int32
          type: integer
        SpecAttachmentType:
          type: string
        UploadType:
          enum:
          - Uninitialised
          - HubReceive
          - AeUpload
          type: string
        MimeType:
          $ref: '#/components/schemas/AudaAPI.Models.MimeType'
        AeeSessionHistory:
          $ref: '#/components/schemas/AudaAPI.Models.SessionHistory'
        AttachmentContent:
          $ref: '#/components/schemas/AudaAPI.Models.AttachmentContent'
        AttachmentType:
          $ref: '#/components/schemas/AudaAPI.Models.AttachmentType'
    AudaAPI.Models.TTSLabourTotals:
      type: object
      properties:
        Authorised:
          format: double
          type: number
        Calculated:
          format: double
          type: number
        Cost:
          format: double
          type: number
        IsOpinion:
          type: boolean
        Opinion:
          format: double
          type: number
        Overlap:
          format: double
          type: number
        WrkRef:
          format: int32
          type: integer
    AudaAPI.Models.MarutiPaint:
      type: object
      properties:
        Description:
          type: string
        Discountable:
          type: boolean
        DiscountedPaintPrice:
          format: double
          type: number
        GuideNumber:
          format: int32
          type: integer
        ManufCode:
          type: string
        PaintPrice:
          format: double
          type: number
        RepairType:
          type: string
    AudaAPI.Models.CourtesyCar:
      type: object
      properties:
        Comments:
          type: string
        DateOut:
          format: date-time
          type: string
        DateReturn:
          format: date-time
          type: string
        DropOffLocation:
          type: string
        Manufacturer:
          type: string
        MileageIn:
          format: int32
          type: integer
        MileageOut:
          format: int32
          type: integer
        Model:
          type: string
        PickUpLocation:
          type: string
        Registration:
          type: string
        ReturnComment:
          type: string
        TBA:
          type: boolean
    AudaAPI.Models.SessionHistory:
      type: object
      properties:
        ClientInformation:
          type: string
        ClientIP:
          type: string
        EndTime:
          format: date-time
          type: string
        StartTime:
          format: date-time
          type: string
        System:
          enum:
          - AudaEnterprise
          - ClaimsHandler
          - AEMobile
          - AudaInvoice
          - AudaFNOL
          - AudaAudit
          - SiteManager
          - FakeDashboardSystem
          - FakeStatementSystem
          - SiteSearch
          - AudaCapture
          - AudaProFile
          - AudaReset
          - AudaSubrogation
          - AudaMobile
          - AudaLite
          - AudaLiteAdministration
          type: string
        AeeBusRole:
          $ref: '#/components/schemas/AudaAPI.Models.User'
        Company:
          $ref: '#/components/schemas/AudaAPI.Models.User'
    AudaAPI.Models.PaintCosts:
      type: object
      properties:
        FixedPaintMaterialAmt:
          format: double
          type: number
        FlatMaterialAmt:
          format: double
          type: number
        IndexChangeAmt:
          format: double
          type: number
        LabourPaintAmt:
          format: double
          type: number
        MatConPrePnt:
          format: double
          type: number
        MatConstMetalAmt:
          format: double
          type: number
        MatConstPerSpotAmt:
          format: double
          type: number
        MatConstPlasticAmt:
          format: double
          type: number
        MatConstSpotAmt:
          format: double
          type: number
        NewPartAmt:
          format: double
          type: number
        NewPartMetalAmt:
          format: double
          type: number
        NewPartPlasticLE1Amt:
          format: double
          type: number
        NewPartPlasticLE2Amt:
          format: double
          type: number
        NewPartPlasticLE3Amt:
          format: double
          type: number
        NewPartPlasticLE4Amt:
          format: double
          type: number
        PaintDiscountAmount:
          format: double
          type: number
        PaintMaterialAmt:
          format: double
          type: number
        PearlescentPaintAmt:
          format: double
          type: number
        PrepWorkPlasticWU:
          format: double
          type: number
        PrepWorkMetalWU:
          format: double
          type: number
        PrepWorkMultilayerWU:
          format: double
          type: number
        PrepInCaseofPrepaint:
          format: double
          type: number
        RepairAmt:
          format: double
          type: number
        RepairPaintMetalAmt:
          format: double
          type: number
        RepairPaintPlasticAmt:
          format: double
          type: number
        SpotPaintMatAmt:
          format: double
          type: number
        SurfaceAmt:
          format: double
          type: number
        SurfacePaintMetalAmt:
          format: double
          type: number
        SurfacePaintPlasticAmt:
          format: double
          type: number
        TotalPaintWU:
          format: double
          type: number
        SundryCostsAmt:
          format: double
          type: number
        PreparePaintSundryAmt:
          format: double
          type: number
        PrepSinglePanelOffCar:
          format: double
          type: number
        PreparePartsWU:
          format: double
          type: number
        PrepPanelsOffCar:
          format: double
          type: number
    AudaAPI.Models.MimeType:
      type: object
      properties:
        Description:
          type: string
        Extension:
          type: string
        FullType:
          type: string
        PermitDefault:
          type: boolean
        SubType:
          type: string
        Type:
          type: string
    AudaAPI.Models.Note:
      type: object
      properties:
        Obid:
          format: uuid
          type: string
        Author:
          type: string
        DateCreated:
          format: date-time
          type: string
        Header:
          type: string
        Text:
          type: string
    AudaAPI.Models.ImageMetadata:
      type: object
      properties:
        Obid:
          format: uuid
          type: string
        CreatedDate:
          format: date-time
          type: string
        DisplayOrder:
          format: int32
          type: integer
        SequenceNumber:
          format: int32
          type: integer
    AudaAPI.Models.Rate:
      type: object
      properties:
        LabourRate:
          format: double
          type: number
        LabourRate5:
          format: double
          type: number
        LabourClass1Wu:
          format: double
          type: number
        LabourClass5Wu:
          format: double
          type: number
        PaintRate:
          format: double
          type: number
        PaintIndex:
          format: double
          type: number
        PartsDiscount:
          format: double
          type: number
        OverallDiscount:
          format: double
          type: number
        PartsDiscountPcnt:
          format: double
          type: number
        PearlescentUpliftPcnt:
          format: double
          type: number
    AudaAPI.Models.PNETQPart:
      type: object
      properties:
        PartAmount:
          format: double
          type: number
        PartDescription:
          type: string
        PartMarkUpAmount:
          format: double
          type: number
        PartMarkUpPcnt:
          format: double
          type: number
        PartNumber:
          type: string
        PartQuantity:
          format: int32
          type: integer
        PartType:
          type: string
        PartUnitPrice:
          format: double
          type: number
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
    AudaAPI.Models.TTSCalc:
      type: object
      properties:
        ADBModel:
          format: int32
          type: integer
        ADBNum:
          format: int32
          type: integer
        CalcState:
          format: int32
          type: integer
        Calculated:
          type: boolean
        Charge:
          type: boolean
        CPTable:
          type: string
        DBDate:
          format: date-time
          type: string
        Description:
          type: string
        IsTraditional:
          type: boolean
        JobAllowance1:
          format: int32
          type: integer
        JobAllowance2:
          format: int32
          type: integer
        Package:
          type: string
        PaintFinish:
          format: int32
          type: integer
        PanelSep:
          format: int32
          type: integer
        ProjRef:
          type: string
        TPSProjRef:
          type: string
        TTSProjRef:
          type: string
        TTSVechPart:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TTSVechPart'
        TTSCalcTotals:
          $ref: '#/components/schemas/AudaAPI.Models.TTSCalcTotals'
    AudaAPI.Models.ValueType:
      type: object
      properties:
        Value:
          type: string
        Type:
          type: string
    AudaAPI.Models.AlternativePriceList:
      type: object
      properties:
        EffectiveDate:
          format: date-time
          type: string
        PartNumber:
          type: string
        PartPrice:
          format: double
          type: number
        Reference:
          type: string
    AudaAPI.Models.TTSMiscTotals:
      type: object
      properties:
        IsGenerated:
          type: boolean
        IsOpinion:
          type: boolean
        PartNumber:
          type: string
        Price:
          format: double
          type: number
    AudaAPI.Models.CurrencyDefinition:
      type: object
      properties:
        Code:
          type: string
    AudaAPI.Models.Model:
      type: object
      properties:
        ModelType:
          type: string
        VehicleType:
          type: string
        ManufacturerName:
          type: string
        ModelName:
          type: string
        ManufactureCode:
          type: string
        ModelCode:
          type: string
        SubModelCode:
          type: string
        EngineCode:
          type: string
        DoorsCode:
          type: string
        PaintCodes:
          type: string
        DateCode:
          type: string
        ModelOptions:
          type: array
          items:
            type: string
    AudaAPI.Models.NetworkDestination:
      type: object
      properties:
        AssignTo:
          type: string
        ToLocation:
          type: string
    AudaAPI.Models.Vehicle:
      type: object
      properties:
        Vin:
          type: string
        Registration:
          type: string
        MonthOfRegistration:
          format: int32
          type: integer
        YearOfRegistration:
          format: int32
          type: integer
        BodyColour:
          type: string
        FuelType:
          type: string
        VehicleImported:
          type: string
        TyreCondition:
          type: string
        SteeringCondition:
          type: string
        BrakesCondition:
          type: string
        PreAccidentCondition:
          type: string
        ConditionDetails:
          type: string
        DamageCondition1:
          type: string
        DamageCondition2:
          type: string
        DamageSeverity:
          type: string
        DamageSeverity2:
          type: string
        Odometer:
          format: int32
          type: integer
        OdometerTBA:
          type: boolean
        SpareTyreDepth1:
          format: double
          type: number
        SpareTyreDepth2:
          format: double
          type: number
        TyreDepths:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TyreDepth'
        DamageAreas:
          type: array
          items:
            type: string
        ImpactDirections:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ImpactDirection'
        UnderWarranty:
          enum:
          - Uninitialised
          - 'Yes'
          - 'No'
          - Unknown
          type: string
        WarrantyExpire:
          format: date-time
          type: string
        SelectionMethod:
          enum:
          - Manual
          - AudaVIN
          - AudaVINInternational
          type: string
        Salvage:
          $ref: '#/components/schemas/AudaAPI.Models.Salvage'
    AudaAPI.Models.InternalData:
      type: object
      properties:
        AssessmentId:
          format: uuid
          type: string
        State:
          type: string
        Status:
          type: string
        CompanyId:
          format: uuid
          type: string
        DateOfInspection:
          format: date-time
          type: string
        WorkStationVersion:
          type: string
        TotalLabourPaintAmt:
          format: double
          type: number
        TotalPartsAmt:
          format: double
          type: number
        TotalLabourAmt:
          format: double
          type: number
        VehicleType:
          type: string
        RepairCount:
          format: int32
          type: integer
        DamageAreas:
          type: array
          items:
            type: string
        ImpactDirections:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ImpactDirection'
        DamageSeverity:
          type: array
          items:
            type: string
        AccidentDate:
          format: date-time
          type: string
        AssessmentNumber:
          type: string
        ClaimReferenceNumber:
          type: string
        CreationDate:
          format: date-time
          type: string
        DataSource:
          type: string
        InsuredName:
          type: string
        Manufacturer:
          type: string
        Mileage:
          format: int32
          type: integer
        Model:
          type: string
        Originator:
          type: string
        PolicyNumber:
          type: string
        Registration:
          type: string
        RepairCostExVAT:
          format: double
          type: number
        RepairCostIncVAT:
          format: double
          type: number
        SalvageCategory:
          type: string
        VersionDate:
          format: date-time
          type: string
        VIN:
          type: string
        WorkproviderReference:
          type: string
    AudaAPI.Models.Calculation:
      type: object
      properties:
        Id:
          format: uuid
          type: string
        CalculationDate:
          format: date-time
          type: string
        GrandTotalIncludingVat:
          format: double
          type: number
        GrandTotalExcludingVat:
          format: double
          type: number
        Extras:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Extra'
        Labours:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Labour'
        Paints:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Paint'
        Parts:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Part'
        InvalidParts:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.InvalidPart'
        TotalLabourInVat:
          format: double
          type: number
        TotalPartsInVat:
          format: double
          type: number
        TotalPaintInVat:
          format: double
          type: number
        TotalOthersInVat:
          format: double
          type: number
        ManualAdjustment:
          format: double
          type: number
        VatRate:
          format: double
          type: number
        VatAmount:
          format: double
          type: number
        NonPaintTimeBasis:
          format: int32
          type: integer
        PaintTimeBasis:
          format: int32
          type: integer
        PartPriceDate:
          format: date-time
          type: string
        VisualAlignmentWu:
          format: double
          type: number
        LabourClass1Wu:
          format: double
          type: number
        LabourClass5Wu:
          format: double
          type: number
        EstimateTotal:
          format: double
          type: number
        GeneralCosts:
          $ref: '#/components/schemas/AudaAPI.Models.GeneralCosts'
        PaintCosts:
          $ref: '#/components/schemas/AudaAPI.Models.PaintCosts'
    AudaAPI.Models.Parties:
      type: object
      properties:
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        Age:
          format: int32
          type: integer
        ClaimantOccRelationship:
          type: string
        DamageDetails:
          type: string
        InjuryDetails:
          type: string
        LiabilityEstDamage:
          format: double
          type: number
        LiabilityEstInjuryDeath:
          format: double
          type: number
        OccupantName:
          type: string
        PartyFlag:
          enum:
          - Uninitialized
          - Occupant
          - ThirdParty
          type: string
        PhoneNumber:
          type: string
        Postcode:
          type: string
        PropertyType:
          enum:
          - Unknown
          - Vehicle
          - Building
          - Farm
          - Machine
          type: string
        Sequence:
          format: int32
          type: integer
        Sex:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            System.Notifications: Create subscriptions and poll for notifications
            System.PushNotifications: Create subscriptions and receive push notifications
            Assessment.MainIndex: ''
            Assessment.Detail+ImageAccess: ''
            Assessment.ImageAdmin: ''
            Assessment.EditAssessmentAdminData: ''
            Assessment.MailReport: Creates a PDF for a mail.
            Parts.GetParts: ''
            Parts.UpdateParts: ''
            Manage.Suppliers: ''
            ReferenceData.My: Read access to your basic info e.g. email, user name
            ReferenceData.Company: Read access to basic info on your company
            ReferenceData.System: ''
            ReferenceData.SystemAdmin: ''
            TLA.CreateQuote: Create Total Loss Avoidance quotes
            Vehicle.Lookup: ''
            Vehicle.LookupDetailed: ''
            Vehicle.Valuation: Perform CAP valuations
          authorizationUrl: https://audaconnect.ax-aee.co.uk/AudaAPI.Portal/Oauth20
      description: OAuth2 Implicit Grant
