openapi: 3.2.0
info:
  title: Audatex Assessment API
  version: '1.0'
  description: 'Operations tagged Assessment across 3 of this provider''s published API definitions: audatex-api-gateway-openapi-original.json, audatex-audaconnect-api-openapi-original.json, audatex-audaconnect-bms-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: /APIGateway
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
tags:
- name: Assessment
paths:
  /api/v1/Assessment/Post:
    post:
      tags:
      - Assessment
      summary: Create an assessment
      description: This endpoint will allow you to create an assessment
      requestBody:
        description: ''
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AssessmentReqViewModel'
          application/json:
            schema:
              $ref: '#/components/schemas/AssessmentReqViewModel'
          text/json:
            schema:
              $ref: '#/components/schemas/AssessmentReqViewModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AssessmentReqViewModel'
        required: true
      responses:
        '201':
          description: Returns a created response
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SelfWithErrorModel'
            application/json:
              schema:
                $ref: '#/components/schemas/SelfWithErrorModel'
            text/json:
              schema:
                $ref: '#/components/schemas/SelfWithErrorModel'
        '400':
          description: Returns an error if the request fails validation or if the assessment failed to create
          content:
            text/plain:
              schema:
                type: object
                additionalProperties:
                  type: string
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
            text/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '500':
          description: Sorry, an unexpected error has occurred
        '401':
          description: Returns an error if the user is not authorised
        '409':
          description: Returns a conflict response if a assessment is already created with the given assessment number and originator
      deprecated: true
      security:
      - Bearer: []
      - Bearer: []
      operationId: postApiV1AssessmentPost
      x-operation-id-source: derived
    servers:
    - url: /APIGateway
  /api/assessments:
    get:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user, ordered by the most…
      operationId: Assessment_Get
      parameters:
      - name: filterId
        in: query
        description: Optionally filter the results with a specified filter criterium.
        required: false
        schema:
          type: string
          format: uuid
      - name: userParameterValue
        in: query
        description: user filter parameters
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
    post:
      tags:
      - Assessment
      summary: Creates a new shell assessment
      operationId: Assessment_Post
      parameters:
      - name: siteId
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult'
        '400':
          description: The input data is invalid or not understood
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportFailedResult'
            text/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportFailedResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportFailedResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportFailedResult'
        '401':
          description: Invalid or missing authentication token
      security:
      - oauth2:
        - Assessment.EditAssessmentAdminData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport'
          text/json:
            schema:
              $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport'
          application/xml:
            schema:
              $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport'
          text/xml:
            schema:
              $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport'
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessmentsV2:
    get:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user, ordered by the most…
      operationId: Assessment_GetV2
      parameters:
      - name: filterId
        in: query
        description: Optionally filter the results with a specified filter criterium.
        required: false
        schema:
          type: string
          format: uuid
      - name: userParameterValue
        in: query
        description: user filter parameters, only invoked if a filterId is supplied
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/search:
    post:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user based upon the values in…
      operationId: Assessment_Search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
        description: A list of search parameters.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/vrn/{registration}:
    get:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user based upon the vehicle…
      operationId: getApiAssessmentsVrnByRegistration
      parameters:
      - name: registration
        in: path
        description: Vehicle registration number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
      x-operation-id-source: normalized
      x-operation-id-original: Assessment_Search
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/searchv2:
    post:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user based upon the values in…
      operationId: Assessment_SearchV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AudaAPI.Models.SearchParameters'
        description: A list of search parameters.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/searchv3:
    post:
      tags:
      - Assessment
      summary: Retrieves a list of assessments for the logged in user based upon the values in…
      operationId: Assessment_SearchV3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.Search.SearchV3Parameters'
          text/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.Search.SearchV3Parameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.Search.SearchV3Parameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.Search.SearchV3Parameters'
        description: A list of search parameters.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{id}/summary:
    get:
      tags:
      - Assessment
      summary: Get an assessment summary by its unique or composite ID.
      operationId: Assessment_GetSummary
      parameters:
      - name: id
        in: path
        description: Either a guid (the OBID of the assessment) or composite key ({Originator}-{AssessmentNumber}).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.MainIndex
    post:
      tags:
      - Assessment
      summary: Update the assessment with the posted values.
      operationId: Assessment_PostSummary
      parameters:
      - name: id
        in: path
        description: The unqiue ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
      security:
      - oauth2:
        - Assessment.EditAssessmentAdminData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
          text/json:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
          application/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
          text/xml:
            schema:
              $ref: '#/components/schemas/AudaAPI.Models.AssessmentSummary'
        description: The updated summary values and a user to whom the assessment should be reassigned.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{id}:
    get:
      tags:
      - Assessment
      summary: 'Get the specified assessment. Note: a lock will not be created on the assessment'
      operationId: Assessment_GetAssessment
      parameters:
      - name: id
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.AssessmentView'
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{id}/modeloptions:
    get:
      tags:
      - Assessment
      operationId: Assessment_GetModelOptions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.ModelOptionView'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.ModelOptionView'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.ModelOptionView'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.ModelOptionView'
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
      summary: Assessment get model options
      x-summary-source: derived
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{id}/complete:
    post:
      tags:
      - Assessment
      summary: Mark a specified assessment as complete
      operationId: Assessment_CompleteAssessment
      parameters:
      - name: id
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      security:
      - oauth2:
        - Assessment.EditAssessmentAdminData
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/close/{id}:
    post:
      tags:
      - Assessment
      operationId: Assessment_Close
      parameters:
      - name: obid
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            application/xml:
              schema:
                type: string
            text/xml:
              schema:
                type: string
      security:
      - oauth2:
        - Assessment.EditAssessmentAdminData
      summary: Assessment close
      x-summary-source: derived
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{id}/logs:
    get:
      tags:
      - Assessment
      summary: Get all event logs for the specified assessment
      operationId: Assessment_GetLogs
      parameters:
      - name: id
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent'
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{assessmentId}/mails:
    get:
      tags:
      - Assessment
      summary: Get all mail messages for an assessment
      operationId: Assessment_GetMailSummaries
      parameters:
      - name: assessmentId
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Assessment.MailSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Assessment.MailSummary'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Assessment.MailSummary'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Assessment.MailSummary'
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/assessments/{assessmentId}/mails/{mailId}:
    get:
      tags:
      - Assessment
      summary: Get a specific mail message from an assessment
      operationId: Assessment_GetMailById
      parameters:
      - name: assessmentId
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      - name: mailId
        in: path
        description: The unique ID of the mail.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage'
            text/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage'
            application/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage'
            text/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage'
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /api/mails/{mailId}/report:
    get:
      tags:
      - Assessment
      summary: Retrieve an AudaMail as a PDF report
      operationId: Mail_GetReport
      parameters:
      - name: mailId
        in: path
        description: Mail ID for the AudaMail
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: PDF File with AudaMail Report
          content:
            application/json:
              schema:
                format: byte
                type: string
            text/json:
              schema:
                format: byte
                type: string
            application/xml:
              schema:
                format: byte
                type: string
            text/xml:
              schema:
                format: byte
                type: string
        '400':
          description: Specified mail cannot be returned as a report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
        '404':
          description: No AudaMail found for specified ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse'
      security:
      - oauth2:
        - Assessment.MailReport
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
  /v1/bmsapi/assessments/originator/{originator}/assessments/{assessmentnumber}:
    get:
      tags:
      - Assessment
      summary: Get an AssessmentID by originator and Assessment Number
      description: Get an AssessmentID by originator and Assessment Number.
      operationId: Assessment_AssessmentIDviaOriginatorAndNumber
      parameters:
      - name: originator
        in: path
        required: true
        schema:
          type: string
      - name: assessmentnumber
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
            text/json:
              schema:
                format: uuid
                type: string
            application/xml:
              schema:
                format: uuid
                type: string
            text/xml:
              schema:
                format: uuid
                type: string
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/exports/{assessmentexportid}/axformat:
    get:
      tags:
      - Assessment
      summary: Get an Assessment Export in AXFormat
      description: Gets an AEG Assessment Export in AxFormat for use by a BMS system.
      operationId: Assessment_AssessmentExportGetAx
      parameters:
      - name: assessmentexportid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '410':
          description: Resource has been superseded and no longer available
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/exports/{assessmentexportid}/axformatxml:
    get:
      tags:
      - Assessment
      summary: Get an Assessment Export in AXFormat
      description: Gets an AEG Assessment Export in XmlFormat for use by a BMS system.
      operationId: Assessment_AssessmentExportGetXml
      parameters:
      - name: assessmentexportid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '410':
          description: Resource has been superseded and no longer available
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/exports/{assessmentexportid}:
    get:
      tags:
      - Assessment
      summary: Get an Assessment Export
      description: Gets an AEG Assessment Export in for use by a BMS system.
      operationId: Assessment_AssessmentExportGet
      parameters:
      - name: assessmentexportid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.BMSAPI.DTO.AXDTO'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.BMSAPI.DTO.AXDTO'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.BMSAPI.DTO.AXDTO'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.BMSAPI.DTO.AXDTO'
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '410':
          description: Resource has been superseded and no longer available
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/axformat:
    post:
      tags:
      - Assessment
      summary: Import an axformat assessment shell
      description: Imports an axFormat assessment shell and creates a new assessment.
      operationId: Assessment_AssessmentImportAXShell
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
            text/json:
              schema:
                format: uuid
                type: string
            application/xml:
              schema:
                format: uuid
                type: string
            text/xml:
              schema:
                format: uuid
                type: string
        '201':
          description: A new assessment was created from the imported shell
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
      requestBody:
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v2/bmsapi/assessments/axformat:
    post:
      tags:
      - Assessment
      summary: Import an axformat assessment shell
      description: 'Imports an axFormat assessment shell and creates a new assessment. This endpoint differs from the v1 version as it will use

        the assessment number in the AXFORMAT, if supplied.'
      operationId: Assessment_AssessmentImportAXShellV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
            text/json:
              schema:
                format: uuid
                type: string
            application/xml:
              schema:
                format: uuid
                type: string
            text/xml:
              schema:
                format: uuid
                type: string
        '201':
          description: A new assessment was created from the imported shell
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
      requestBody:
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/axformatxml:
    post:
      tags:
      - Assessment
      summary: Import an AxFormatXml assessment document
      description: This methods imports only those fields and records marked as importable, according to the AXFORMAT specification.
      operationId: Assessment_AssessmentImportAxFormatXml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
            text/json:
              schema:
                format: uuid
                type: string
            application/xml:
              schema:
                format: uuid
                type: string
            text/xml:
              schema:
                format: uuid
                type: string
        '201':
          description: A new assessment was created from the imported shell
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
      requestBody:
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
        description: AxFormatXml assessment document.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v2/bmsapi/assessments/axformatxml:
    post:
      tags:
      - Assessment
      summary: Import an AxFormatXml assessment document
      description: 'This methods imports only those fields and records marked as importable, according to the AXFORMAT specification. This endpoint differs from the v1 version as it will use

        the assessment number, if supplied.'
      operationId: Assessment_AssessmentImportAxFormatXmlV2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: uuid
                type: string
            text/json:
              schema:
                format: uuid
                type: string
            application/xml:
              schema:
                format: uuid
                type: string
            text/xml:
              schema:
                format: uuid
                type: string
        '201':
          description: A new assessment was created from the imported shell
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
      requestBody:
        content:
          application/json:
            schema:
              type: string
          text/json:
            schema:
              type: string
          application/xml:
            schema:
              type: string
          text/xml:
            schema:
              type: string
        description: AxFormatXml assessment document.
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/{assessmentid}/images/{imageid}:
    get:
      tags:
      - Assessment
      summary: Get Assessment Image by image id
      description: 'Gets a JPEG image for an assessment by asssementid and imageid, images may have Null padding at the end of the file, uses BMS.Basic Scope.

        There is currently a swagger issue, where the downloaded image does not get shown in swagger, however calling the endpoint directly will download the image sucessfully.'
      operationId: Assessment_ImageDataGet
      parameters:
      - name: assessmentid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: imageid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Basic
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
  /v1/bmsapi/assessments/parts:
    post:
      tags:
      - Assessment
      summary: Update Price / Part numbers in assessment
      description: Update Price / Part numbers in assessment based on assessment number and originator.
      operationId: Assessment_AssessmentUpdatePartPrice
      parameters:
      - name: originator
        in: query
        description: ''
        required: true
        schema:
          type: string
      - name: assessmentnumber
        in: query
        description: ''
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.UpdatePartPriceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.UpdatePartPriceResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.UpdatePartPriceResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.UpdatePartPriceResponse'
        '400':
          description: The input data is not understood
        '401':
          description: Invalid or missing authentication token
        '403':
          description: Insufficient permissions for this resource
        '404':
          description: Resource does not exist
        '409':
          description: Assessment is parked or locked (open in AEG client) and cannot be accessed
        '410':
          description: Assessment never or no longer exists!
        '412':
          description: Assessment has never been calculated or cannot be calculated
        '500':
          description: The server has failed to process the request
      security:
      - oauth2:
        - BMS.Parts
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentPart'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentPart'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentPart'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentPart'
        required: true
    servers:
    - url: https://audaconnect.ax-aee.co.uk/AudaAPI.BMSAPI
components:
  schemas:
    ErrorModel:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
        isNoError:
          type: boolean
          readOnly: true
        isCreated:
          type: boolean
          readOnly: true
        isAccepted:
          type: boolean
          readOnly: true
        isInternalError:
          type: boolean
          readOnly: true
        isBadRequest:
          type: boolean
          readOnly: true
        isNotFoundError:
          type: boolean
          readOnly: true
        isUnauthorizedCodeError:
          type: boolean
          readOnly: true
        isBadGatewayError:
          type: boolean
          readOnly: true
        getHttpCode:
          type: integer
          format: int32
          readOnly: true
      additionalProperties: false
    AssessmentReqViewModel:
      required:
      - assessmentNumber
      - originator
      - vehicle
      type: object
      properties:
        assessmentNumber:
          maxLength: 50
          minLength: 1
          type: string
          description: The assessment number
        originator:
          maxLength: 50
          minLength: 1
          type: string
          description: The originator Id for the assessment
        vehicle:
          $ref: '#/components/schemas/AssessmentVehicleReqViewModel'
      additionalProperties: false
    SelfWithErrorModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        self:
          type:
          - string
          - 'null'
        error:
          $ref: '#/components/schemas/ErrorModel'
      additionalProperties: false
    AssessmentVehicleReqViewModel:
      required:
      - licencePlate
      type: object
      properties:
        licencePlate:
          maxLength: 10
          minLength: 1
          type: string
          description: The licence plate of vehicle
        mileage:
          maximum: 50
          minimum: 0
          type:
          - integer
          - 'null'
          description: The mileage of vehicle
          format: int32
      additionalProperties: false
    Audatex.NextGen.Common.AssessmentService.Model.TTSVechPartDetail:
      type: object
      properties:
        JobAllow0:
          format: double
          type: number
        JobAllow1:
          format: double
          type: number
        JobAllow2:
          format: double
          type: number
        JobAllow3:
          format: double
          type: number
        PartPrice0:
          format: double
          type: number
        PartPrice1:
          format: double
          type: number
        PartPrice2:
          format: double
          type: number
        PartPrice3:
          format: double
          type: number
        PnlSize0:
          format: double
          type: number
        PnlSize1:
          format: double
          type: number
        PnlSize2:
          format: double
          type: number
        PnlSize3:
          format: double
          type: number
        RepairTime0:
          format: double
          type: number
        RepairTime1:
          format: double
          type: number
        RepairTime2:
          format: double
          type: number
        RepairTime3:
          format: double
          type: number
        SequenceId:
          format: int32
          type: integer
    AudaAPI.Models.Salvage:
      type: object
      properties:
        AudaSalvageId:
          format: uuid
          type: string
        BidsObtained:
          enum:
          - Uninitialised
          - Obtained
          - Required
          type: string
        CashInLieu:
          format: double
          type: number
        CashInLieuFlag:
          type: boolean
        CauseOfDamage:
          enum:
          - Uninitialised
          - Accident
          - Theft
          - Fire
          - Storm
          - Flood
          - Vandalised
          - SeeComments
          type: string
        ChargesWaived:
          enum:
          - UnInitialised
          - WaivingCharges
          - RecoveryAndStorage
          - RecoveryOnly
          - StorageOnly
          - SeeComments
          - GrossOffer
          type: string
        ClearedForDisposal:
          type: boolean
        DailyStorageCharge:
          format: double
          type: number
        DailyStorageTBA:
          type: boolean
        DateValueAgreed:
          format: date-time
          type: string
        HldGrgInterested:
          type: boolean
        HldGrgOffer:
          format: double
          type: number
        KeyHolder:
          enum:
          - Uninitialised
          - OnFile
          - HoldingGarageOrStorageCentre
          - PolicyHolder
          - TBA
          type: string
        LiabilityCode:
          enum:
          - Uninitialised
          - Fault
          - NonFault
          - TBA
          type: string
        MayMoveSalvage:
          type: boolean
        NetworkToSalvageAgent:
          type: boolean
        NewForOld:
          enum:
          - Uninitialised
          - 'Yes'
          - 'No'
          - TBA
          type: string
        OwnerRetainsSalvage:
          format: double
          type: number
        OwnerRetainsSalvageFlag:
          type: boolean
        PersonalEffectsPresent:
          type: boolean
        PreAccidentValue:
          format: double
          type: number
        RecoveryCharge:
          format: double
          type: number
        RecoveryTBA:
          type: boolean
        SalvageAction:
          enum:
          - Uninitialised
          - MoveAndCircularise
          - MoveVehicle
          - Circularise
          - OwnerRetains
          - InformationOnly
          - Target
          type: string
        SalvageCategory:
          enum:
          - Uninitialised
          - Scrap
          - Breaker
          - RepairableTLoss
          - RepairableConstructiveTLoss
          - TotalLossDenotedByRepairer
          - StolenRecovered
          - StolenNotRecovered
          - RecoveredNotDamaged
          - StatutoryTotalLoss
          - RepairableElectToAuction
          - WOVRNotApplicable
          - NonStructuralDamage
          - StructuralDamage
          type: string
        SalvageProcessStatusEnum:
          enum:
          - Unknown
          - ReverseQuoteSent
          - Requested
          - Confirmed
          type: string
        SalvageReference:
          type: string
        SalvageValue:
          format: double
          type: number
        SelectedValuation:
          enum:
          - Uninitialised
          - Glasses
          - Parkers
          - CAP
          - Specialist
          - MandM
          - CarSales
          - LCV4x4
          - RedBook
          type: string
        SellingVehicle:
          enum:
          - Uninitialised
          - NotReadyToSell
          - ReadyToSell
          - TBA
          type: string
        StorageStartDate:
          format: date-time
          type: string
        TotalLossDetails:
          enum:
          - Uninitialised
          - IsATotalLoss
          - MayBeATotalLoss
          - TBA
          type: string
        TotalStorageCharge:
          format: double
          type: number
        TotalStorageTBA:
          type: boolean
        ValueAgreed:
          format: double
          type: number
        ValueAgreedFlag:
          type: boolean
        VehicleAtInsured:
          type: boolean
        VehicleDriveable:
          enum:
          - Uninitialised
          - Driveable
          - NotDriveable
          - TBA
          type: string
        SalvageTypeOfDamage:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SalvageTypeOfDamage'
        Recovery:
          $ref: '#/components/schemas/AudaAPI.Models.Recovery'
    Audatex.NextGen.Common.AssessmentService.Model.Paint:
      type: object
      properties:
        AreaCount:
          format: int32
          type: integer
        AreaIndicator:
          type: string
        BettermentDeductionPcnt:
          format: double
          type: number
        FixedRateAmt:
          format: double
          type: number
        FixedRateIndicator:
          type: string
        MaterialUnitsCount:
          format: int32
          type: integer
        PnlDiscnt:
          format: double
          type: number
        MarutiPaint:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.MarutiPaint'
        CodeText:
          type: string
        WUCount:
          format: double
          type: number
        WUIndicator:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          enum:
          - Uninitialised
          - Renew_E
          - Renew_ET
          - Repair_I
          - Repair_IT
          - Repair_IE
          - Repair_N
          - Repair_NE
          - Check_P
          - Check_PE
          - SurfacePaint_L
          - RepairPaint_LI
          - RepairPaint_LI1
          - NewPartPaint_LE
          - CorrosionProtection_U
          - CorrosionProtection_UE
          - CorrosionProtection_H
          - CorrosionProtection_HE
          - PossibleDamage_R
          - Specialist_S
          - Alignment_V
          - NewPartPaint_LE1
          - NewPartPaint_LE2
          - NewPartPaint_LE3
          - RenewPartialPart_TE
          - NewPartPaint_LE4
          - SpotRepair_LS
          - Dent_D
          - Renew_EG
          - Paint_LEE
          - Specialist_SE
          - Notation_LV
          - Notation_EV
          - Notation_EVI
          - Renew_EO
          - Repair_IO
          - Repair_NO
          - Check_PO
          - Paint_LEO
          - Paint_LIO
          - Paint_LO
          - Maintenance_M
          - NumberDents_DM
          - Watermark_HM
          - Paint_LC
          - Repair_I1
          - Repair_I2
          - Repair_I3
          - Paint_NL
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.AudaHailRepair:
      type: object
      properties:
        AudaHailInfo:
          type: string
    AudaAPI.Models.TTSMiscTotals:
      type: object
      properties:
        IsGenerated:
          type: boolean
        IsOpinion:
          type: boolean
        PartNumber:
          type: string
        Price:
          format: double
          type: number
    Audatex.NextGen.Common.AssessmentService.Model.SessionHistory:
      type: object
      properties:
        ClientInformation:
          type: string
        ClientIP:
          type: string
        EndTime:
          format: date-time
          type: string
        StartTime:
          format: date-time
          type: string
        System:
          enum:
          - AudaEnterprise
          - ClaimsHandler
          - AEMobile
          - AudaInvoice
          - AudaFNOL
          - AudaAudit
          - SiteManager
          - FakeDashboardSystem
          - FakeStatementSystem
          - SiteSearch
          - AudaCapture
          - AudaProFile
          - AudaReset
          - AudaSubrogation
          - AudaMobile
          - AudaLite
          - AudaLiteAdministration
          type: string
        AeeBusRole:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.BusRole'
        Company:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.BusRole'
    Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage:
      type: object
      properties:
        Assessment:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Assessment'
        Instructions:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.MailInstructions'
    AudaAPI.Models.RVSAppliedBusChannel:
      type: object
      properties:
        DateApplied:
          format: date-time
          type: string
        RVSBusChannel:
          format: uuid
          type: string
        AeeBusRole:
          $ref: '#/components/schemas/AudaAPI.Models.User'
    Audatex.NextGen.Common.AssessmentService.Model.CurrencyDefinition:
      type: object
      properties:
        Code:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.PaintCosts:
      type: object
      properties:
        FixedPaintMaterialAmt:
          format: double
          type: number
        FlatMaterialAmt:
          format: double
          type: number
        IndexChangeAmt:
          format: double
          type: number
        LabourPaintAmt:
          format: double
          type: number
        MatConPrePnt:
          format: double
          type: number
        MatConstMetalAmt:
          format: double
          type: number
        MatConstPerSpotAmt:
          format: double
          type: number
        MatConstPlasticAmt:
          format: double
          type: number
        MatConstSpotAmt:
          format: double
          type: number
        NewPartAmt:
          format: double
          type: number
        NewPartMetalAmt:
          format: double
          type: number
        NewPartPlasticLE1Amt:
          format: double
          type: number
        NewPartPlasticLE2Amt:
          format: double
          type: number
        NewPartPlasticLE3Amt:
          format: double
          type: number
        NewPartPlasticLE4Amt:
          format: double
          type: number
        PaintDiscountAmount:
          format: double
          type: number
        PaintMaterialAmt:
          format: double
          type: number
        PearlescentPaintAmt:
          format: double
          type: number
        PrepWorkPlasticWU:
          format: double
          type: number
        PrepWorkMetalWU:
          format: double
          type: number
        PrepWorkMultilayerWU:
          format: double
          type: number
        PrepInCaseofPrepaint:
          format: double
          type: number
        RepairAmt:
          format: double
          type: number
        RepairPaintMetalAmt:
          format: double
          type: number
        RepairPaintPlasticAmt:
          format: double
          type: number
        SpotPaintMatAmt:
          format: double
          type: number
        SurfaceAmt:
          format: double
          type: number
        SurfacePaintMetalAmt:
          format: double
          type: number
        SurfacePaintPlasticAmt:
          format: double
          type: number
        TotalPaintWU:
          format: double
          type: number
        SundryCostsAmt:
          format: double
          type: number
        PreparePaintSundryAmt:
          format: double
          type: number
        PrepSinglePanelOffCar:
          format: double
          type: number
        PreparePartsWU:
          format: double
          type: number
        PrepPanelsOffCar:
          format: double
          type: number
    AudaAPI.Models.Authorisation:
      type: object
      properties:
        AuthorisationCode:
          type: string
        AuthorisationDate:
          format: date-time
          type: string
        AuthorisationStatus:
          type: string
        AuthorisationTime:
          format: date-time
          type: string
        DeclineDate:
          format: date-time
          type: string
        DeclineNotes:
          type: string
        DeclineReason:
          type: string
        EngineerReference:
          type: string
        RepairsAuthorised:
          type: string
    AudaAPI.Models.AudaHailRepair:
      type: object
      properties:
        AudaHailInfo:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.WorkProviderMessage:
      type: object
      properties:
        Code:
          type: string
        Description:
          type: string
    AudaAPI.Models.Rate:
      type: object
      properties:
        LabourRate:
          format: double
          type: number
        LabourRate5:
          format: double
          type: number
        LabourClass1Wu:
          format: double
          type: number
        LabourClass5Wu:
          format: double
          type: number
        PaintRate:
          format: double
          type: number
        PaintIndex:
          format: double
          type: number
        PartsDiscount:
          format: double
          type: number
        OverallDiscount:
          format: double
          type: number
        PartsDiscountPcnt:
          format: double
          type: number
        PearlescentUpliftPcnt:
          format: double
          type: number
    Audatex.NextGen.Common.AssessmentService.Model.DamageEstimate:
      type: object
      properties:
        Model:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Model'
        ModelOptionDetails:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.ModelOptionDetails'
        AudaHailRepair:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.AudaHailRepair'
        Repair:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Repair'
        FrozenPart:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.FrozenPart'
        CalculationSubType:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.CalculationSubType'
        Rate:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Rate'
        ItemDepreciation:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.ItemDepreciation'
        TTSCalc:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.TTSCalc'
        SalvagePart:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.SalvagePart'
        Calculation:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Calculation'
    AudaAPI.Models.ImpactDirection:
      type: object
      properties:
        ImpactStartArea:
          type: string
        ImpactEndArea:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.Assessment:
      type: object
      properties:
        Obid:
          format: uuid
          type: string
        UserId:
          format: uuid
          type: string
        lockedBy:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.LockedBy'
        SnapshotId:
          format: uuid
          type: string
        AssessmentNumber:
          type: string
        AssessmentType:
          enum:
          - Audatex
          - Thatcham
          - Standard
          - Manual
          - Glass
          - Industrial
          type: string
        Created:
          format: date-time
          type: string
        CreationDate:
          format: date-time
          type: string
        CreatorSiteId:
          type: string
        CustomerNumber:
          type: string
        LastUpdatedBy:
          type: string
        LastUpdatedDate:
          format: date-time
          type: string
        LightEstMenuId:
          format: uuid
          type: string
        Originator:
          type: string
        State:
          type: string
        TransmissionFlag:
          format: int32
          type: integer
        UnRead:
          type: boolean
        UserStatus:
          type: string
        VersionAssessment:
          format: int32
          type: integer
        VoucherGenerated:
          type: boolean
        WAN:
          type: string
        WorkstationVersion:
          type: string
        RVSAppliedBusChannel:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.RVSAppliedBusChannel'
        CurrencyDefinition:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.CurrencyDefinition'
        ClientAuditResult:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.ClientAuditResult'
        Vehicle:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Vehicle'
        Claim:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Claim'
        DamageEstimate:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.DamageEstimate'
        AssessmentNotes:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.NextGenNote'
        LocalNotes:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.NextGenNote'
        ImageMetadata:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.ImageMetadata'
        TTSCLCContent:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.TTSCLCContent'
        NetworkOrigin:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.NetworkOrigin'
        AssessmentTag:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.AssessmentTag'
        WorkProvider:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.WorkProvider'
        CountryState:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.CountryState'
        NetworkDestination:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.NetworkDestination'
        PriceList:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.PartSupplier'
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Contact'
        Authorisation:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Authorisation'
        AttachmentHeader:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.AttachmentHeader'
        PNETData:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.PNETData'
        MailHeader:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.MailHeader'
        IndiaClaim:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.IndiaClaim'
        CourtesyCar:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.CourtesyCar'
        Policy:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Policy'
    Audatex.NextGen.Common.AssessmentService.Model.PartSupplier:
      type: object
      properties:
        Active:
          type: boolean
        Code:
          type: string
        Description:
          type: string
        Indicator:
          type: string
        ManufacturerCode:
          type: string
        PartSupplierType:
          enum:
          - AudaSourceSupplier
          - AlternativePriceList
          type: string
        Reference:
          type: string
        AlternativePriceList:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.AlternativePriceList'
    AudaAPI.Models.TyreDepth:
      type: object
      properties:
        Axle:
          format: int32
          type: integer
        LeftTyre:
          format: double
          type: number
        RightTyre:
          format: double
          type: number
    AudaAPI.Models.Parties:
      type: object
      properties:
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        Age:
          format: int32
          type: integer
        ClaimantOccRelationship:
          type: string
        DamageDetails:
          type: string
        InjuryDetails:
          type: string
        LiabilityEstDamage:
          format: double
          type: number
        LiabilityEstInjuryDeath:
          format: double
          type: number
        OccupantName:
          type: string
        PartyFlag:
          enum:
          - Uninitialized
          - Occupant
          - ThirdParty
          type: string
        PhoneNumber:
          type: string
        Postcode:
          type: string
        PropertyType:
          enum:
          - Unknown
          - Vehicle
          - Building
          - Farm
          - Machine
          type: string
        Sequence:
          format: int32
          type: integer
        Sex:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.SalvagePart:
      type: object
      properties:
        Amount:
          format: double
          type: number
        ApplyMarkUp:
          type: boolean
        AudaSalvageId:
          format: uuid
          type: string
        AuthCost:
          format: double
          type: number
        AuthDate:
          format: date-time
          type: string
        ConfirmationStatus:
          format: int32
          type: integer
        ConfirmDate:
          format: date-time
          type: string
        DeleteNoteSent:
          type: boolean
        DescriptionText:
          type: string
        DiscountPC:
          format: double
          type: number
        Distance:
          format: double
          type: number
        GuideNumber:
          format: int32
          type: integer
        MarkUP:
          format: double
          type: number
        OEMAmount:
          format: double
          type: number
        OEMPartNumber:
          type: string
        PartId:
          format: uuid
          type: string
        PartNumber:
          type: string
        ReplacementType:
          enum:
          - Uninitialised
          - SecondHand
          - Exchange
          - Parallel
          - AudaSalvage
          - IdentPart
          - UsedOEMPart
          - ContractSupplier
          - AlternativeParts
          - OtherParts
          - OemParts
          - AftermarketParts
          - OriginalParts
          type: string
        RequestDate:
          format: date-time
          type: string
        SalvPartProcStatusEnum:
          enum:
          - ReverseQuoteSent
          - Requested
          - Reserved
          - OutOfStock
          - Ignored
          - Unknown
          - Expired
          type: string
        Saving:
          format: double
          type: number
        SavingPC:
          format: double
          type: number
        Source:
          type: string
        SupplierCode:
          format: int32
          type: integer
        SupplierName:
          type: string
        SupplierTextCode:
          type: string
    Audatex.NextGen.Services.AssessmentServices.Import.PolicyImport:
      type: object
      properties:
        ExcessValue:
          format: double
          type: number
        ExcessValueTBA:
          type: boolean
        PolicyNumber:
          type: string
        VATPortionPayable:
          format: double
          type: number
        VATStatus:
          enum:
          - Uninitialised
          - TBA
          - ChannelIsles
          - NonTaxable
          - Taxable
          type: string
    Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport:
      type: object
      properties:
        WorkProviderCode:
          format: int32
          type: integer
        Authorisation:
          $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.AuthorisationImport'
        Claim:
          $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.ClaimImport'
        DamageEstimate:
          $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.DamageEstimateImport'
        Contacts:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Contact'
        Policy:
          $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.PolicyImport'
        Vehicle:
          $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Import.VehicleImport'
    AudaAPI.Models.Vehicle:
      type: object
      properties:
        Vin:
          type: string
        Registration:
          type: string
        MonthOfRegistration:
          format: int32
          type: integer
        YearOfRegistration:
          format: int32
          type: integer
        BodyColour:
          type: string
        FuelType:
          type: string
        VehicleImported:
          type: string
        TyreCondition:
          type: string
        SteeringCondition:
          type: string
        BrakesCondition:
          type: string
        PreAccidentCondition:
          type: string
        ConditionDetails:
          type: string
        DamageCondition1:
          type: string
        DamageCondition2:
          type: string
        DamageSeverity:
          type: string
        DamageSeverity2:
          type: string
        Odometer:
          format: int32
          type: integer
        OdometerTBA:
          type: boolean
        SpareTyreDepth1:
          format: double
          type: number
        SpareTyreDepth2:
          format: double
          type: number
        TyreDepths:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.TyreDepth'
        DamageAreas:
          type: array
          items:
            type: string
        ImpactDirections:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.ImpactDirection'
        UnderWarranty:
          enum:
          - Uninitialised
          - 'Yes'
          - 'No'
          - Unknown
          type: string
        WarrantyExpire:
          format: date-time
          type: string
        SelectionMethod:
          enum:
          - Manual
          - AudaVIN
          - AudaVINInternational
          type: string
        Salvage:
          $ref: '#/components/schemas/AudaAPI.Models.Salvage'
    Audatex.NextGen.Common.AssessmentService.Model.PNETInvoice:
      type: object
      properties:
        CollectedContribution:
          format: double
          type: number
        CollectedExcess:
          format: double
          type: number
        GST:
          format: double
          type: number
        TaxInvoiceNumber:
          type: string
        TotalAmountExGST:
          format: double
          type: number
        TotalAmountInclGST:
          format: double
          type: number
        PNETInvoiceItem:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.PNETInvoiceItem'
        PNETInvoiceStatus:
          $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.PNETInvoiceStatus'
    Audatex.NextGen.Common.AssessmentService.Model.Rate:
      type: object
      properties:
        LabourRate:
          format: double
          type: number
        LabourRate5:
          format: double
          type: number
        LabourClass1Wu:
          format: double
          type: number
        LabourClass5Wu:
          format: double
          type: number
        PaintRate:
          format: double
          type: number
        PaintIndex:
          format: double
          type: number
        PartsDiscount:
          format: double
          type: number
        OverallDiscount:
          format: double
          type: number
        PartsDiscountPcnt:
          format: double
          type: number
        PearlescentUpliftPcnt:
          format: double
          type: number
    AudaAPI.Models.NetworkDestination:
      type: object
      properties:
        AssignTo:
          type: string
        ToLocation:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.AttachmentType:
      type: object
      properties:
        Description:
          type: string
        PermitDefault:
          type: boolean
        Type:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.AssessmentTag:
      type: object
      properties:
        AssessorUserName:
          type: string
        AuthorisingUserName:
          type: string
        EstimatingUserName:
          type: string
        RepairerUser:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.BusRole'
        RepairerSite:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.Site'
        AssessorUser:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.BusRole'
        AuthorisingUser:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.BusRole'
        InsurerSite:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.Site'
        AuthorisingSite:
          $ref: '#/components/schemas/Audatex.NextGen.Common.CustomerService.Model.Site'
    AudaAPI.Models.MailInstructions:
      type: object
      properties:
        AccountFrom:
          type: string
        AuditDetails:
          type: string
        CollectAboveVehicleRepair:
          type: boolean
        CollectionByTrailer:
          type: boolean
        CollectVehicle:
          type: boolean
        CourtesyCarRequired:
          type: boolean
        EngineerInspectPriorRep:
          type: boolean
        FurtherInspectionRequired:
          type: boolean
        GarageVisitedNoVehicle:
          type: boolean
        GivenToIndependentEngineer:
          type: boolean
        InspectionRequest:
          type: boolean
        InsuredThirdPartyAddress:
          type: boolean
        InviteSalvageBuyer:
          type: boolean
        NoRepairInstructionGiven:
          type: boolean
        PermissionToMoveVehicle:
          type: boolean
        PersonalInjuryClaim:
          type: boolean
        PhotosRequired:
          type: boolean
        PhotosTaken:
          type: boolean
        PreferredEstimateType:
          type: string
        RecoveryCostsToBePaid:
          type: boolean
        RegistrationDocRetained:
          type: boolean
        RepairerNotKnown:
          type: boolean
        RepairsAuthorisedNoInspect:
          type: boolean
        StorageCostsToBePaid:
          type: boolean
        ThirdPartyClaim:
          type: boolean
        UrgentCollectStorageCost:
          type: boolean
        VehicleInspected:
          type: boolean
        VehicleRegistrationMOTDoc:
          type: boolean
    Audatex.NextGen.Common.AssessmentService.Model.ImageMetadata:
      type: object
      properties:
        Obid:
          format: uuid
          type: string
        CreatedDate:
          format: date-time
          type: string
        DisplayOrder:
          format: int32
          type: integer
        SequenceNumber:
          format: int32
          type: integer
    Audatex.NextGen.Common.AssessmentService.Model.FrozenPart:
      type: object
      properties:
        DateFrozen:
          format: date-time
          type: string
        Freeze:
          type: boolean
        AmountFrozen:
          format: double
          type: number
        AmountLastCalculated:
          format: double
          type: number
        Description:
          type: string
        PartNumber:
          type: string
        GuideNumber:
          format: int32
          type: integer
        RepairMethod:
          enum:
          - Uninitialised
          - Renew_E
          - Renew_ET
          - Repair_I
          - Repair_IT
          - Repair_IE
          - Repair_N
          - Repair_NE
          - Check_P
          - Check_PE
          - SurfacePaint_L
          - RepairPaint_LI
          - RepairPaint_LI1
          - NewPartPaint_LE
          - CorrosionProtection_U
          - CorrosionProtection_UE
          - CorrosionProtection_H
          - CorrosionProtection_HE
          - PossibleDamage_R
          - Specialist_S
          - Alignment_V
          - NewPartPaint_LE1
          - NewPartPaint_LE2
          - NewPartPaint_LE3
          - RenewPartialPart_TE
          - NewPartPaint_LE4
          - SpotRepair_LS
          - Dent_D
          - Renew_EG
          - Paint_LEE
          - Specialist_SE
          - Notation_LV
          - Notation_EV
          - Notation_EVI
          - Renew_EO
          - Repair_IO
          - Repair_NO
          - Check_PO
          - Paint_LEO
          - Paint_LIO
          - Paint_LO
          - Maintenance_M
          - NumberDents_DM
          - Watermark_HM
          - Paint_LC
          - Repair_I1
          - Repair_I2
          - Repair_I3
          - Paint_NL
          type: string
    AudaAPI.Models.PNETInvoiceItem:
      type: object
      properties:
        AmountInclGST:
          format: double
          type: number
        AuthorityNumber:
          format: int32
          type: integer
        PNETQuoteNumber:
          type: string
        PNETQSublet:
          $ref: '#/components/schemas/AudaAPI.Models.PNETQSublet'
        PNETQuote:
          $ref: '#/components/schemas/AudaAPI.Models.PNETQuote'
    Audatex.NextGen.Common.AssessmentService.Model.TTSMiscTotals:
      type: object
      properties:
        IsGenerated:
          type: boolean
        IsOpinion:
          type: boolean
        PartNumber:
          type: string
        Price:
          format: double
          type: number
    Audatex.NextGen.Common.AssessmentService.Model.IndiaClaim:
      type: object
      properties:
        AccidentPlace:
          type: string
        AllotmentOfSurveyorDate:
          format: date-time
          type: string
        ApproxLiabilityGivenDate:
          format: date-time
          type: string
        ApproxLiabilityGivenTo:
          type: string
        ClaimFormReceived:
          type: boolean
        ClaimFormVerified:
          type: boolean
        DamageTally:
          type: boolean
        DateOfTheft:
          format: date-time
          type: string
        DealerOutletCode:
          format: int32
          type: integer
        DriverBadgeNumber:
          type: string
        DriverCharged:
          type: boolean
        DriverChargeDetails:
          type: string
        DriverEmployed:
          format: double
          type: number
        DriverEmployedUnits:
          enum:
          - Unknown
          - Years
          - Months
          - Days
          type: string
        DriverIntoxicated:
          type: boolean
        DrivingLicenceReceived:
          type: boolean
        DrivingLicenceVerified:
          type: boolean
        Endorsements:
          type: string
        ExcessImposed:
          format: double
          type: number
        ExcessVoluntary:
          format: double
          type: number
        FeedbackGivenDate:
          format: date-time
          type: string
        FeedbackGivenTo:
          type: string
        GoodsCarried:
          type: string
        GoodsCarriedUnit:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        GoodsCarriedWeight:
          format: double
          type: number
        Hypothecation:
          type: boolean
        IncidentReportedToPolice:
          type: boolean
        IntimationReceivedDate:
          format: date-time
          type: string
        IntimationReceivedFrom:
          type: string
        LegalCaseRegistered:
          type: boolean
        LegalCaseStatus:
          type: string
        LoadCarryingCapacity:
          format: double
          type: number
        LoadCarryingUnits:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        LoadChallanVerified:
          type: boolean
        NameOfCourt:
          type: string
        OccupantsInjuryDeath:
          type: boolean
        PassengerNumbers:
          format: int32
          type: integer
        PassengerNumbersPermitted:
          format: int32
          type: integer
        PermitType:
          enum:
          - Unknown
          - National
          - State
          type: string
        PlaceOfTheft:
          type: string
        PoliceStationName:
          type: string
        PreviousAccident:
          type: boolean
        RegCertReceived:
          type: boolean
        RegCertVerified:
          type: boolean
        RegisteredLadenWeight:
          format: double
          type: number
        RegistrationType:
          enum:
          - Unknown
          - Commercial
          - NonCommercial
          type: string
        RegLadenWgtUnits:
          enum:
          - Unknown
          - Kilograms
          - Tonnes
          - Litres
          type: string
        ReinspectionDate:
          format: date-time
          type: string
        RoadTaxValidToDate:
          format: date-time
          type: string
        SettlementMode:
          enum:
          - Unknown
          - RepairBasis
          - TotalLoss
          - CashLoss
          type: string
        SpotSurveyReceivedDate:
          format: date-time
          type: string
        SubmitSalvage:
          type: boolean
        TheftCase:
          type: boolean
        ThirdPartyInjuryDeath:
          type: boolean
        ThirdPartyPropertyDamage:
          type: boolean
        VehicleFitnessToDate:
          format: date-time
          type: string
        VehiclePurpose:
          enum:
          - Unknown
          - Personal
          - Business
          - Hire
          - Racing
          - Testing
          type: string
        VehicleSpeed:
          format: int32
          type: integer
        WasSidecarAttached:
          type: boolean
        WasTrailerAttached:
          type: boolean
        Parties:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Common.AssessmentService.Model.Parties'
    AudaAPI.Models.Extra:
      type: object
      properties:
        LabourText:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          type: string
    AudaAPI.Models.PNETQReport:
      type: object
      properties:
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
        ReportItemDescription:
          type: string
    AudaAPI.Models.CourtesyCar:
      type: object
      properties:
        Comments:
          type: string
        DateOut:
          format: date-time
          type: string
        DateReturn:
          format: date-time
          type: string
        DropOffLocation:
          type: string
        Manufacturer:
          type: string
        MileageIn:
          format: int32
          type: integer
        MileageOut:
          format: int32
          type: integer
        Model:
          type: string
        PickUpLocation:
          type: string
        Registration:
          type: string
        ReturnComment:
          type: string
        TBA:
          type: boolean
    AudaAPI.Models.SearchParameters:
      type: object
      properties:
        SearchClauses:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SearchClause'
    AudaAPI.Models.CalculationSubType:
      type: object
      properties:
        RepairType:
          enum:
          - Uninitialised
          - Repair
          - Renew
          - Paint
          - RemoveReplace
          - CorrosionProtection
          - Check
          - Adjustment
          - DentRepair
          - Maintenance
          - Notation
          - PossibleDamage
          - Specialist
          - Watermark
          - Other
          type: string
        SplitPartType:
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.Labour:
      type: object
      properties:
        LabourClass:
          format: int32
          type: integer
        CodeText:
          type: string
        WUCount:
          format: double
          type: number
        WUIndicator:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          enum:
          - Uninitialised
          - Renew_E
          - Renew_ET
          - Repair_I
          - Repair_IT
          - Repair_IE
          - Repair_N
          - Repair_NE
          - Check_P
          - Check_PE
          - SurfacePaint_L
          - RepairPaint_LI
          - RepairPaint_LI1
          - NewPartPaint_LE
          - CorrosionProtection_U
          - CorrosionProtection_UE
          - CorrosionProtection_H
          - CorrosionProtection_HE
          - PossibleDamage_R
          - Specialist_S
          - Alignment_V
          - NewPartPaint_LE1
          - NewPartPaint_LE2
          - NewPartPaint_LE3
          - RenewPartialPart_TE
          - NewPartPaint_LE4
          - SpotRepair_LS
          - Dent_D
          - Renew_EG
          - Paint_LEE
          - Specialist_SE
          - Notation_LV
          - Notation_EV
          - Notation_EVI
          - Renew_EO
          - Repair_IO
          - Repair_NO
          - Check_PO
          - Paint_LEO
          - Paint_LIO
          - Paint_LO
          - Maintenance_M
          - NumberDents_DM
          - Watermark_HM
          - Paint_LC
          - Repair_I1
          - Repair_I2
          - Repair_I3
          - Paint_NL
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.Extra:
      type: object
      properties:
        LabourText:
          type: string
        Obid:
          format: uuid
          type: string
        Amount:
          format: double
          type: number
        AmountIndicator:
          type: string
        DescriptionText:
          type: string
        GuideNumber:
          format: int32
          type: integer
        ReferenceSequence:
          format: int32
          type: integer
        RepairMethod:
          enum:
          - Uninitialised
          - Renew_E
          - Renew_ET
          - Repair_I
          - Repair_IT
          - Repair_IE
          - Repair_N
          - Repair_NE
          - Check_P
          - Check_PE
          - SurfacePaint_L
          - RepairPaint_LI
          - RepairPaint_LI1
          - NewPartPaint_LE
          - CorrosionProtection_U
          - CorrosionProtection_UE
          - CorrosionProtection_H
          - CorrosionProtection_HE
          - PossibleDamage_R
          - Specialist_S
          - Alignment_V
          - NewPartPaint_LE1
          - NewPartPaint_LE2
          - NewPartPaint_LE3
          - RenewPartialPart_TE
          - NewPartPaint_LE4
          - SpotRepair_LS
          - Dent_D
          - Renew_EG
          - Paint_LEE
          - Specialist_SE
          - Notation_LV
          - Notation_EV
          - Notation_EVI
          - Renew_EO
          - Repair_IO
          - Repair_NO
          - Check_PO
          - Paint_LEO
          - Paint_LIO
          - Paint_LO
          - Maintenance_M
          - NumberDents_DM
          - Watermark_HM
          - Paint_LC
          - Repair_I1
          - Repair_I2
          - Repair_I3
          - Paint_NL
          type: string
    Audatex.NextGen.Common.AssessmentService.Model.LockedBy:
      type: object
      properties:
        userName:
          type: string
        LockedOn:
          format: date-time
          type: string
    AudaAPI.Models.CurrencyDefinition:
      type: object
      properties:
        Code:
          type: string
    Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent:
      type: object
      properties:
        LoggedAt:
          format: date-time
          type: string
          readOnly: true
        Event:
          type: string
          readOnly: true
        Arguments:
          type: array
          items:
            $ref: '#/components/schemas/Audatex.NextGen.Services.AssessmentServices.Interface.v1.EventArgument'
          readOnly: true
    AudaAPI.Models.Assessment.MailSummary:
      type: object
      properties:
        DateCreated:
          format: date-time
          type: string
        MailId:
          format: uuid
          type: string
        MailStatus:
          type: string
        MailType:
          type: string
        Subject:
          type: string
        Unread:
          type: boolean
    AudaAPI.Models.NetworkOrigin:
      type: object
      properties:
        FromLocation:
          type: string
    AudaAPI.Models.PNETQPart:
      type: object
      properties:
        PartAmount:
          format: double
          type: number
        PartDescription:
          type: string
        PartMarkUpAmount:
          format: double
          type: number
        PartMarkUpPcnt:
          format: double
          type: number
        PartNumber:
          type: string
        PartQuantity:
          format: int32
          type: integer
        PartType:
          type: string
        PartUnitPrice:
          format: double
          type: number
        QuoteLineChange:
          enum:
          - N
          - C
          - I
          - D
          type: string
        QuoteLineNumber:
          format: int32
          type: integer
    Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult:
      type: object
      properties:
        AssessmentId:
          format: uuid
          type: string
          readOnly: true
        AssessmentNumber:
          type: string
          readOnly: true
        Originator:
          type: string
          readOnly: true
    AudaAPI.Models.Recovery:
      type: object
      properties:
        Comments:
          type: string
        CompanyName:
          type: string
        CrashSiteRecoveryDate:
          format: date-time
          type: string
        RecoveryDate:
          format: date-time
          type: string
        RecoveryFromCrashSite:
          type: boolean
        RecoveryNeeded:
          type: boolean
    AudaAPI.WebAPI.Models.AudaMail.ErrorResponse:
      type: object
      properties:
        Error:
          $ref: '#/components/schemas/AudaAPI.WebAPI.Models.AudaMail.Error'
    AudaAPI.Models.Calculation:
      type: object
      properties:
        Id:
          format: uuid
          type: string
        CalculationDate:
          format: date-time
          type: string
        GrandTotalIncludingVat:
          format: double
          type: number
        GrandTotalExcludingVat:
          format: double
          type: number
        Extras:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Extra'
        Labours:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Labour'
        Paints:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Paint'
        Parts:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.Part'
        InvalidParts:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.InvalidPart'
        TotalLabourInVat:
          format: double
          type: number
        TotalPartsInVat:
          format: double
          type: number
        TotalPaintInVat:
          format: double
          type: number
        TotalOthersInVat:
          format: double
          type: number
        ManualAdjustment:
          format: double
          type: number
        VatRate:
          format: double
          type: number
        VatAmount:
          format: double
          type: number
        NonPaintTimeBasis:
          format: int32
          type: integer
        PaintTimeBasis:
          format: int32
          type: integer
        PartPriceDate:
          format: date-time
          type: string
        VisualAlignmentWu:
          format: double
          type: number
        LabourClass1Wu:
          format: double
          type: number
        LabourClass5Wu:
          format: double
          type: number
        EstimateTotal:
          format: double
          type: number
        GeneralCosts:
          $ref: '#/components/schemas/AudaAPI.Models.GeneralCosts'
        PaintCosts:
          $ref: '#/components/schemas/AudaAPI.Models.PaintCosts'
    Audatex.NextGen.Common.CustomerService.Model.BusRole:
      type: object
      properties:
        BusRoleStatus:
          format: int32
          type: integer
        BusRoleType:
          format: int32
          type: integer
        Description:
[...]
