openapi: 3.2.0
info:
  version: v1
  title: AudaConnect Assessment Export API
  description: 'AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2'
  contact:
    name: Audatex UK
    url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help
    email: servicedesk@audatex.co.uk
servers:
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
tags:
- name: AssessmentExport
paths:
  /api/assessments/{id}/exportAxFormat:
    get:
      tags:
      - AssessmentExport
      summary: Exports an assessment in AxFormat
      operationId: AssessmentExport_ExportAssessment
      parameters:
      - name: id
        in: path
        description: The unique ID of the assessment.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
      security:
      - oauth2:
        - Assessment.Detail+ImageAccess
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            System.Notifications: Create subscriptions and poll for notifications
            System.PushNotifications: Create subscriptions and receive push notifications
            Assessment.MainIndex: ''
            Assessment.Detail+ImageAccess: ''
            Assessment.ImageAdmin: ''
            Assessment.EditAssessmentAdminData: ''
            Assessment.MailReport: Creates a PDF for a mail.
            Parts.GetParts: ''
            Parts.UpdateParts: ''
            Manage.Suppliers: ''
            ReferenceData.My: Read access to your basic info e.g. email, user name
            ReferenceData.Company: Read access to basic info on your company
            ReferenceData.System: ''
            ReferenceData.SystemAdmin: ''
            TLA.CreateQuote: Create Total Loss Avoidance quotes
            Vehicle.Lookup: ''
            Vehicle.LookupDetailed: ''
            Vehicle.Valuation: Perform CAP valuations
          authorizationUrl: https://audaconnect.ax-aee.co.uk/AudaAPI.Portal/Oauth20
      description: OAuth2 Implicit Grant
