openapi: 3.2.0
info:
  version: v1
  title: AudaConnect History API
  description: 'AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2'
  contact:
    name: Audatex UK
    url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help
    email: servicedesk@audatex.co.uk
servers:
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
tags:
- name: History
paths:
  /api/history:
    get:
      tags:
      - History
      summary: Returns the history for a specific vehiclde registration.
      operationId: History_GetHistory
      parameters:
      - name: vehicleRegistration
        in: query
        description: A vehicle registration.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.HistoryCheck'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.HistoryCheck'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.HistoryCheck'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.HistoryCheck'
      security:
      - oauth2:
        - Internal.HistoryCheckService
components:
  schemas:
    AudaAPI.Models.HistoryCheck:
      type: object
      properties:
        AccidentDate:
          format: date-time
          type: string
        AssessmentNumber:
          type: string
        ClaimReferenceNumber:
          type: string
        CreationDate:
          format: date-time
          type: string
        DataSource:
          type: string
        InsuredName:
          type: string
        Manufacturer:
          type: string
        Mileage:
          format: int32
          type: integer
        Model:
          type: string
        Originator:
          type: string
        PolicyNumber:
          type: string
        Registration:
          type: string
        RepairCostExVAT:
          format: double
          type: number
        RepairCostIncVAT:
          format: double
          type: number
        SalvageCategory:
          type: string
        VersionDate:
          format: date-time
          type: string
        VIN:
          type: string
        WorkproviderReference:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            System.Notifications: Create subscriptions and poll for notifications
            System.PushNotifications: Create subscriptions and receive push notifications
            Assessment.MainIndex: ''
            Assessment.Detail+ImageAccess: ''
            Assessment.ImageAdmin: ''
            Assessment.EditAssessmentAdminData: ''
            Assessment.MailReport: Creates a PDF for a mail.
            Parts.GetParts: ''
            Parts.UpdateParts: ''
            Manage.Suppliers: ''
            ReferenceData.My: Read access to your basic info e.g. email, user name
            ReferenceData.Company: Read access to basic info on your company
            ReferenceData.System: ''
            ReferenceData.SystemAdmin: ''
            TLA.CreateQuote: Create Total Loss Avoidance quotes
            Vehicle.Lookup: ''
            Vehicle.LookupDetailed: ''
            Vehicle.Valuation: Perform CAP valuations
          authorizationUrl: https://audaconnect.ax-aee.co.uk/AudaAPI.Portal/Oauth20
      description: OAuth2 Implicit Grant
