openapi: 3.2.0
info:
  version: v1
  title: AudaConnect Company API
  description: 'AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2'
  contact:
    name: Audatex UK
    url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help
    email: servicedesk@audatex.co.uk
servers:
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
tags:
- name: Company
paths:
  /api/companies:
    get:
      tags:
      - Company
      summary: Get a list of all companies registered on the system
      operationId: Company_Get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Company'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Company'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Company'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Company'
      security:
      - oauth2:
        - ReferenceData.System
  /api/companies/{id}:
    get:
      tags:
      - Company
      summary: Get information about a specific company registered with Solera
      operationId: getApiCompaniesById
      parameters:
      - name: id
        in: path
        description: Either an 8 character company code, or the unique ID of the company.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.Company'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.Company'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.Company'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.Company'
      security:
      - oauth2:
        - ReferenceData.System
      x-operation-id-source: normalized
      x-operation-id-original: Company_Get
components:
  schemas:
    AudaAPI.Models.Address:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        PostCode:
          type: string
    AudaAPI.Models.Site:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        Contact:
          $ref: '#/components/schemas/AudaAPI.Models.Contact'
        Address:
          $ref: '#/components/schemas/AudaAPI.Models.Address'
        AKAName:
          type: string
        CompanyName:
          type: string
        SiteId:
          type: string
        ExternalCode:
          type: string
    AudaAPI.Models.Company:
      type: object
      properties:
        Id:
          format: uuid
          type: string
        CompanyCode:
          type: string
        Description:
          type: string
        Status:
          type: string
        Site:
          $ref: '#/components/schemas/AudaAPI.Models.Site'
    AudaAPI.Models.Contact:
      type: object
      properties:
        ContactType:
          type: string
        AbleToAuthorise:
          type: string
        Name:
          type: string
        Title:
          type: string
        Forename:
          type: string
        Surname:
          type: string
        EMailAddress:
          type: string
        Line01:
          type: string
        Line02:
          type: string
        Line03:
          type: string
        Line04:
          type: string
        Line05:
          type: string
        PostCode:
          type: string
        TelHome:
          type: string
        TelBusiness:
          type: string
        TelMobile:
          type: string
        TelOther:
          type: string
        Fax:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            System.Notifications: Create subscriptions and poll for notifications
            System.PushNotifications: Create subscriptions and receive push notifications
            Assessment.MainIndex: ''
            Assessment.Detail+ImageAccess: ''
            Assessment.ImageAdmin: ''
            Assessment.EditAssessmentAdminData: ''
            Assessment.MailReport: Creates a PDF for a mail.
            Parts.GetParts: ''
            Parts.UpdateParts: ''
            Manage.Suppliers: ''
            ReferenceData.My: Read access to your basic info e.g. email, user name
            ReferenceData.Company: Read access to basic info on your company
            ReferenceData.System: ''
            ReferenceData.SystemAdmin: ''
            TLA.CreateQuote: Create Total Loss Avoidance quotes
            Vehicle.Lookup: ''
            Vehicle.LookupDetailed: ''
            Vehicle.Valuation: Perform CAP valuations
          authorizationUrl: https://audaconnect.ax-aee.co.uk/AudaAPI.Portal/Oauth20
      description: OAuth2 Implicit Grant
