openapi: 3.2.0
info:
  version: v1
  title: AudaConnect Terminal API
  description: 'AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2'
  contact:
    name: Audatex UK
    url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help
    email: servicedesk@audatex.co.uk
servers:
- url: https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI
tags:
- name: Terminal
paths:
  /api/sites:
    get:
      tags:
      - Terminal
      summary: Get details about a company's' sites
      operationId: Terminal_GetSites
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
      security:
      - oauth2:
        - ReferenceData.System
  /api/sites/{siteId}:
    get:
      tags:
      - Terminal
      summary: Get details about a specific site
      operationId: Terminal_GetSite
      parameters:
      - name: siteId
        in: path
        description: Site ID&gt;
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            application/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
            text/xml:
              schema:
                $ref: '#/components/schemas/AudaAPI.Models.SiteDetails'
      security:
      - oauth2:
        - ReferenceData.System
  /api/users/{id}/terminals:
    get:
      tags:
      - Terminal
      summary: Gets all the terminals belonging to the specified user
      operationId: Terminal_GetUserTerminals
      parameters:
      - name: id
        in: path
        description: The unique ID of the user.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Terminal'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Terminal'
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Terminal'
            text/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AudaAPI.Models.Terminal'
      security:
      - oauth2:
        - ReferenceData.System
components:
  schemas:
    AudaAPI.Models.Terminal:
      type: object
      properties:
        Id:
          format: uuid
          type: string
        MasterList_SiteId:
          $ref: '#/components/schemas/AudaAPI.Models.Site'
        MasterList_CustomerNumber:
          $ref: '#/components/schemas/AudaAPI.Models.MasterList_CustomerNumber'
        AudaMailName:
          type: string
        HexId:
          type: string
        IsAudaMailAddress:
          type: boolean
        TerminalId:
          type: string
    AudaAPI.Models.SiteOption:
      type: object
      properties:
        Name:
          type: string
        Value:
          type: string
    AudaAPI.Models.Site:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        Contact:
          $ref: '#/components/schemas/AudaAPI.Models.Contact'
        Address:
          $ref: '#/components/schemas/AudaAPI.Models.Address'
        AKAName:
          type: string
        CompanyName:
          type: string
        SiteId:
          type: string
        ExternalCode:
          type: string
    AudaAPI.Models.Address:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        PostCode:
          type: string
    AudaAPI.Models.Contact:
      type: object
      properties:
        ContactType:
          type: string
        AbleToAuthorise:
          type: string
        Name:
          type: string
        Title:
          type: string
        Forename:
          type: string
        Surname:
          type: string
        EMailAddress:
          type: string
        Line01:
          type: string
        Line02:
          type: string
        Line03:
          type: string
        Line04:
          type: string
        Line05:
          type: string
        PostCode:
          type: string
        TelHome:
          type: string
        TelBusiness:
          type: string
        TelMobile:
          type: string
        TelOther:
          type: string
        Fax:
          type: string
    AudaAPI.Models.MasterList_CustomerNumber:
      type: object
      properties:
        ID:
          format: uuid
          type: string
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        CustomerNumber:
          type: string
    AudaAPI.Models.SiteDetails:
      type: object
      properties:
        SiteId:
          type: string
        SiteName:
          type: string
        ExternalType:
          type: string
        Status:
          type: string
        AddressLine1:
          type: string
        AddressLine2:
          type: string
        AddressLine3:
          type: string
        AddressLine4:
          type: string
        AddressLine5:
          type: string
        Postcode:
          type: string
        Telephone:
          type: string
        Fax:
          type: string
        SiteOptions:
          type: array
          items:
            $ref: '#/components/schemas/AudaAPI.Models.SiteOption'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          scopes:
            System.Notifications: Create subscriptions and poll for notifications
            System.PushNotifications: Create subscriptions and receive push notifications
            Assessment.MainIndex: ''
            Assessment.Detail+ImageAccess: ''
            Assessment.ImageAdmin: ''
            Assessment.EditAssessmentAdminData: ''
            Assessment.MailReport: Creates a PDF for a mail.
            Parts.GetParts: ''
            Parts.UpdateParts: ''
            Manage.Suppliers: ''
            ReferenceData.My: Read access to your basic info e.g. email, user name
            ReferenceData.Company: Read access to basic info on your company
            ReferenceData.System: ''
            ReferenceData.SystemAdmin: ''
            TLA.CreateQuote: Create Total Loss Avoidance quotes
            Vehicle.Lookup: ''
            Vehicle.LookupDetailed: ''
            Vehicle.Valuation: Perform CAP valuations
          authorizationUrl: https://audaconnect.ax-aee.co.uk/AudaAPI.Portal/Oauth20
      description: OAuth2 Implicit Grant
