{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "AudaConnect",
    "description": "AudaConnect. You can use this Swagger page to test the API. You will need to authenticate either at the top of the page for multiple scopes or clicking on the authentication status image on each operation. You will need to use your supplied Client Application ID during when selecting scopes. AudaConnect API Build Version: 2.25.26048.2",
    "contact": {
      "name": "Audatex UK",
      "url": "https://audaconnect.ax-aee.co.uk/AudaAPI.WebAPI/help",
      "email": "servicedesk@audatex.co.uk"
    }
  },
  "host": "audaconnect.ax-aee.co.uk",
  "basePath": "/AudaAPI.WebAPI",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/assessments": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user, ordered by the most recently updated first.\r\nNote: the list is limited to a maximum of 100 if no filter criterium is supplied.\r\nThe optional FilterId and userParameterValue will be supplied by Audatex, the operational team can advise on existing\r\nfilters or set up new ones if required.\r\nThis method does not use the application default filter.",
        "operationId": "Assessment_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filterId",
            "in": "query",
            "description": "Optionally filter the results with a specified filter criterium.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "userParameterValue",
            "in": "query",
            "description": "user filter parameters",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Creates a new shell assessment.",
        "operationId": "Assessment_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentImport",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImport"
            }
          },
          {
            "name": "siteId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "201": {
            "description": "Resource does not exist",
            "schema": {
              "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportSucceededResult"
            }
          },
          "400": {
            "description": "The input data is invalid or not understood",
            "schema": {
              "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentServices.Import.AssessmentImportFailedResult"
            }
          },
          "401": {
            "description": "Invalid or missing authentication token"
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.EditAssessmentAdminData"
            ]
          }
        ]
      }
    },
    "/api/assessmentsV2": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user, ordered by the most recently updated first.\r\nNote: the list is limited to a maximum of 100 if no filter criterium is supplied.\r\nThe optional FilterId and userParameterValue will be supplied by Audatex, the operational team can advise on existing\r\nfilters or set up new ones if required.\r\nThis method does not use the application default filter.\r\nCompared to the /assessments endpoint, this endpoint has performance improvements and the return object contains more fields.",
        "operationId": "Assessment_GetV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "filterId",
            "in": "query",
            "description": "Optionally filter the results with a specified filter criterium.",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "userParameterValue",
            "in": "query",
            "description": "user filter parameters, only invoked if a filterId is supplied",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/assessments/search": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user based upon the values in the search parameters supplied.\r\nNote: each set of search parameters will be applied to the result set that came before it.\r\nThis method will use the default application filter, if one has been set up for the application.\r\nValid FieldName in the Search Parameters are any of the elements in the assessment summary return object, for example :\r\nAssessmentNumber,Originator, CreationDate or Registration",
        "operationId": "Assessment_Search",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "searchParameters",
            "in": "body",
            "description": "A list of search parameters.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.SearchParameters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/assessments/vrn/{registration}": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user based upon the vehicle registration number supplied.",
        "operationId": "Assessment_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "registration",
            "in": "path",
            "description": "Vehicle registration number",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/assessments/searchv2": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user based upon the values in the search parameters supplied.\r\nNote: each set of search parameters will be applied to the result set that came before it.\r\nThis method will use the default application filter, if one has been set up for the application.\r\nValid FieldName in the Search Parameters are any of the elements in the assessment summary return object, for example :\r\nAssessmentNumber,Originator, CreationDate or Registration",
        "operationId": "Assessment_SearchV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "searchParameters",
            "in": "body",
            "description": "A list of search parameters.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.SearchParameters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/assessments/searchv3": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieves a list of assessments for the logged in user based upon the values in the search parameters supplied.\r\nAssessments will only be returned if they match all specified parameters, null and blank parameters are ignored.\r\nThe LastUpdated range is restricted to 30 days\r\nThis method will use the default application filter, if one has been set up for the application.",
        "operationId": "Assessment_SearchV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "searchParameters",
            "in": "body",
            "description": "A list of search parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Search.SearchV3Parameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/summary": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Get an assessment summary by its unique or composite ID.\r\nNote: this action will not create a lock on the assessment, which should be carried out previously if updates are to be made to the resource later.",
        "operationId": "Assessment_GetSummary",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Either a guid (the OBID of the assessment) or composite key ({Originator}-{AssessmentNumber}).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Update the assessment with the posted values.\r\nNote: if the assessment is reassigned to a user that does not exist, an error will be returned.",
        "operationId": "Assessment_PostSummary",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unqiue ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "summary",
            "in": "body",
            "description": "The updated summary values and a user to whom the assessment should be reassigned.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentSummary"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.EditAssessmentAdminData"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Get the specified assessment.\r\nNote: a lock will not be created on the assessment.",
        "operationId": "Assessment_GetAssessment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/modeloptions": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "operationId": "Assessment_GetModelOptions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.ModelOptionView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/complete": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "summary": "Mark a specified assessment as complete.",
        "operationId": "Assessment_CompleteAssessment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.EditAssessmentAdminData"
            ]
          }
        ]
      }
    },
    "/api/assessments/close/{id}": {
      "post": {
        "tags": [
          "Assessment"
        ],
        "operationId": "Assessment_Close",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "obid",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.EditAssessmentAdminData"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/logs": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Get all event logs for the specified assessment.",
        "operationId": "Assessment_GetLogs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentServices.Interface.v1.AssessmentEvent"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{assessmentId}/mails": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Get all mail messages for an assessment.",
        "operationId": "Assessment_GetMailSummaries",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Assessment.MailSummary"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{assessmentId}/mails/{mailId}": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Get a specific mail message from an assessment.",
        "operationId": "Assessment_GetMailById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "mailId",
            "in": "path",
            "description": "The unique ID of the mail.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentServices.Interface.v1.MailMessage"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/exportAxFormat": {
      "get": {
        "tags": [
          "AssessmentExport"
        ],
        "summary": "Exports an assessment in AxFormat.",
        "operationId": "AssessmentExport_ExportAssessment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/importAxFormat": {
      "post": {
        "tags": [
          "AssessmentImport"
        ],
        "summary": "Import assessment from AxFormat string.",
        "operationId": "AssessmentImport_ImportAssessment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/v2/api/assessments/importAxFormat": {
      "post": {
        "tags": [
          "AssessmentImport"
        ],
        "summary": "Import assessment from AxFormat string.",
        "description": "This endpoint differs from the v1 version as it will use the assessment number in the AXFORMAT, if supplied.",
        "operationId": "AssessmentImport_ImportAssessmentV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/report": {
      "get": {
        "tags": [
          "AssessmentReport"
        ],
        "summary": "Gets a PDF report for an assessment. Note: this does not create a lock on the assessment.",
        "operationId": "AssessmentReport_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "reportCode",
            "in": "query",
            "description": "The report definition code. Call GET /api/reports for a list of available values.\r\nDefaults to \"MOBILEFULL\" if no report code specified.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/reports": {
      "get": {
        "tags": [
          "AssessmentReport"
        ],
        "summary": "Get a list of report definitions for the GET /api/assessments/{id}/report endpoint.",
        "operationId": "AssessmentReport_GetReportDefinitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Audatex.NextGen.Services.AssessmentReporting.Interface.v1.DataContracts.ReportDefinition"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/calculations/{id}": {
      "get": {
        "tags": [
          "Calculation"
        ],
        "summary": "Get a calculation by its unique ID.",
        "operationId": "Calculation_GetCalculation",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the calculation.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Calculation"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/calculations": {
      "get": {
        "tags": [
          "Calculation"
        ],
        "summary": "Get all calculations for a specified assessment.",
        "operationId": "Calculation_GetCalculations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.CalculationViewModel"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a list of all companies registered on the system.",
        "operationId": "Company_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Company"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.System"
            ]
          }
        ]
      }
    },
    "/api/companies/{id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get information about a specific company registered with Solera.",
        "operationId": "Company_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Either an 8 character company code, or the unique ID of the company.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Company"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.System"
            ]
          }
        ]
      }
    },
    "/api/users/me/filters": {
      "get": {
        "tags": [
          "Filter"
        ],
        "summary": "Get all filters for the currently logged in user.",
        "operationId": "Filter_GetUserFiltersById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Filters.FiltersForSession"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/filters/{id}": {
      "get": {
        "tags": [
          "Filter"
        ],
        "summary": "Get a specific filter.",
        "operationId": "Filter_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the filter.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Filters.Filter"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/filters/{id}/count": {
      "get": {
        "tags": [
          "Filter"
        ],
        "summary": "Get the number of jobs and unread jobs in the specified filter available to the current user.",
        "operationId": "Filter_GetFilterCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the filter.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MainIndex"
            ]
          }
        ]
      }
    },
    "/api/history": {
      "get": {
        "tags": [
          "History"
        ],
        "summary": "Returns the history for a specific vehiclde registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "History_GetHistory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.HistoryCheck"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.HistoryCheckService"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/images": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Get a list of images associated with the specified assessment.",
        "operationId": "Image_GetImageHeaders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.ImageHeader"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Post a new image to a specific assessment.",
        "operationId": "Image_AddImage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID for the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "imageData",
            "in": "body",
            "description": "Image data to be posted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.ImageData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.ImageHeader"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.ImageAdmin"
            ]
          }
        ]
      }
    },
    "/api/assessments/{assessmentId}/images/{imageId}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Get a specific image header for a given assessment.",
        "operationId": "Image_GetImageHeader",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.ImageHeader"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/assessments/{id}/images/{sequence}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Get an image header for a given assessment and sequence number",
        "operationId": "Image_GetImageHeaderBySequence",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "sequence",
            "in": "path",
            "description": "The sequence number of the image.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.ImageHeader"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/images/{id}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Get the binary image (JPEG format) for the specified image.",
        "operationId": "Image_GetImageData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess"
            ]
          }
        ]
      }
    },
    "/api/internal/search": {
      "get": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a list of internal data relating to a specific vehicle registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "InternalData_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.InternalData"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a list of internal data relating to a specific vehicle registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "InternalData_SearchWithParameters",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "searchParameters",
            "in": "body",
            "description": "Array of SearchParameters.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.SearchParameters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.InternalData"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      }
    },
    "/api/internal/search/restricted": {
      "post": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a list of internal data relating to a specific vehicle registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "InternalData_SearchWithArguments",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "searchArguments",
            "in": "body",
            "description": "Combined SearchParameters and SearchRestrictions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.SearchArguments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.InternalData"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      }
    },
    "/api/internal/summarysearch": {
      "get": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a list of internal data relating to a specific vehicle registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "InternalData_SummarySearch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a list of internal data relating to a specific vehicle registration.\r\nNote: the registration number must be 3 or more characters in length.",
        "operationId": "InternalData_SummarySearchWithParameters",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "vehicleRegistration",
            "in": "query",
            "description": "A vehicle registration.",
            "required": true,
            "type": "string"
          },
          {
            "name": "searchParameters",
            "in": "body",
            "description": "Array of SearchParameters.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.SearchParameters"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.RefenceData.SummaryRegistrationSearchResult"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      }
    },
    "/api/internal/assessment/{id}": {
      "get": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a specific assessment.",
        "operationId": "InternalData_GetAssessment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "The unique ID of the company.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.AssessmentView"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      }
    },
    "/api/internal/assessment/{assessmentId}/images/{imageId}": {
      "get": {
        "tags": [
          "InternalData"
        ],
        "summary": "Get a specific image.",
        "operationId": "InternalData_GetImage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "description": "The unique ID of the assessment.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "imageId",
            "in": "path",
            "description": "The unique ID of the image.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "The unique ID of the company",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Internal.DataServices"
            ]
          }
        ]
      }
    },
    "/api/mails/{mailId}/report": {
      "get": {
        "tags": [
          "Assessment"
        ],
        "summary": "Retrieve an AudaMail as a PDF report",
        "operationId": "Mail_GetReport",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "mailId",
            "in": "path",
            "description": "Mail ID for the AudaMail",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF File with AudaMail Report",
            "schema": {
              "format": "byte",
              "type": "string"
            }
          },
          "400": {
            "description": "Specified mail cannot be returned as a report",
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse"
            }
          },
          "404": {
            "description": "No AudaMail found for specified ID",
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.AudaMail.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.MailReport"
            ]
          }
        ]
      }
    },
    "/api/notifications/{subscriptionId}": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Get Notifications for this subscription",
        "description": "Get all waiting notifications. Providing a subcription ID will return notifications only for that subscription,\r\nomitting it will return all notifications across all subscriptions. Will fetch a maximum of 100 messages\r\nper call.",
        "operationId": "Notification_GetNotifications",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "If provided, gets notifications only for that subscription.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Notification.NotificationMessage"
              }
            }
          },
          "404": {
            "description": "Non existing subscription"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.Notifications"
            ]
          }
        ]
      }
    },
    "/api/notifications/topics": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Get all topics that can be subscribed to.",
        "operationId": "Notification_GetTopics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Notification.Topic"
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.Notifications"
            ]
          }
        ]
      }
    },
    "/api/notifications/subscriptions": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Get all active subscriptions.",
        "operationId": "Notification_GetSubscriptions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Notification.Subscription"
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.Notifications"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Create a new subscription to the specified topic.",
        "operationId": "Notification_Subscribe",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "subInfo",
            "in": "body",
            "description": "Subscription Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.SubscribeData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Notification.SubscriptionResponse"
            }
          },
          "400": {
            "description": "Topic format is not valid"
          },
          "404": {
            "description": "Non existing topic"
          },
          "409": {
            "description": "Already subscribed"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.Notifications"
            ]
          }
        ]
      }
    },
    "/api/notifications/pushsubscriptions": {
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Create a new push subscription to the specified topic. The subscription can also be used to poll for notifications to allow recovery after downtime on the recieving service.",
        "operationId": "Notification_PushSubscribe",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "subInfo",
            "in": "body",
            "description": "Subscription Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.SubscribeDataWithPush"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Notification.SubscriptionResponse"
            }
          },
          "400": {
            "description": "Topic format is not valid"
          },
          "404": {
            "description": "Non existing topic"
          },
          "409": {
            "description": "Already subscribed"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.PushNotifications"
            ]
          }
        ]
      }
    },
    "/api/notifications/subscriptions/{id}": {
      "delete": {
        "tags": [
          "Notification"
        ],
        "summary": "Delete a subscription",
        "operationId": "Notification_Unsubscribe",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the subscription to be deleted.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Non existing subscription"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "oauth2": [
              "System.Notifications"
            ]
          }
        ]
      }
    },
    "/api/notifications/raise": {
      "post": {
        "tags": [
          "Notification"
        ],
        "operationId": "Notification_RaiseNotification",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.RaiseNotification"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.UpdateParts"
            ]
          }
        ]
      }
    },
    "/api/parts/prices": {
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Get price for parts from a supplier",
        "operationId": "PartsOrder_GetPartsPrice",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "supplierId",
            "in": "query",
            "description": "The unique SupplierID of the part Supplier.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "supplierRepairerReference",
            "in": "query",
            "description": "Supplier reference to the repairer",
            "required": true,
            "type": "string"
          },
          {
            "name": "vehicleBrand",
            "in": "query",
            "description": "The brand code for the vehicle manufacturer",
            "required": true,
            "type": "string"
          },
          {
            "name": "assessmentId",
            "in": "query",
            "description": "",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "partNumbers",
            "in": "body",
            "description": "ids the suppliers part ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsPriceResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.GetParts"
            ]
          }
        ]
      }
    },
    "/api/parts/orders/{id}": {
      "get": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Get details for a specific parts order.",
        "operationId": "PartsOrder_GetPartOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the parts order.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.GetParts"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Update a specified parts order.",
        "operationId": "PartsOrder_OrderUpdate",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the parts order.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "order",
            "in": "body",
            "description": "Values to update the existing parts order.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.UpdateParts"
            ]
          }
        ]
      }
    },
    "/api/parts/orders/upload": {
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Upload a parts order.",
        "operationId": "PartsOrder_OrderUpload",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "order",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.UpdateParts"
            ]
          }
        ]
      }
    },
    "/api/parts/orders/{id}/status": {
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Update the parts order status.",
        "operationId": "PartsOrder_OrderUpdate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the parts order.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the parts order.",
            "required": true,
            "type": "string",
            "enum": [
              "Pending",
              "Received",
              "Fulfilled",
              "Returned",
              "Complete",
              "Cancelled"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Parts.PartsResult"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.UpdateParts"
            ]
          }
        ]
      }
    },
    "/api/parts/orders/{id}/part/{partId}/{status}": {
      "post": {
        "tags": [
          "PartsOrder"
        ],
        "summary": "Change the status of a part in a given order.",
        "operationId": "PartsOrder_UpdatePartStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the parts order.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "partId",
            "in": "path",
            "description": "The unique ID of the part.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "status",
            "in": "path",
            "description": "The new part status.",
            "required": true,
            "type": "string",
            "enum": [
              "Pending",
              "Ordered",
              "Received",
              "Returned",
              "Cancelled"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Parts.UpdateParts"
            ]
          }
        ]
      }
    },
    "/api/reference/VehicleType": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of VehicleType types",
        "operationId": "ReferenceData_VehicleType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/CalculationType": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of CalculationType types",
        "operationId": "ReferenceData_CalculationType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/AssessmentLockResult": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of AssessmentLockResult types",
        "operationId": "ReferenceData_AssessmentLockResult",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/AssessmentType": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of AssessmentType types",
        "operationId": "ReferenceData_AssessmentType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/AuthorisationStatus": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of AuthorisationStatus types",
        "operationId": "ReferenceData_AuthorisationStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/ContactType": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of ContactType types",
        "operationId": "ReferenceData_ContactType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/DamageArea": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of DamageArea types",
        "operationId": "ReferenceData_DamageArea",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/DamageCondition": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of DamageCondition types",
        "operationId": "ReferenceData_DamageCondition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/DamageSeverity": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of DamageSeverity types",
        "operationId": "ReferenceData_DamageSeverity",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/ModelType": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of ModelType types",
        "operationId": "ReferenceData_ModelType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/RepairMethod": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of RepairMethod types",
        "operationId": "ReferenceData_RepairMethod",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/reference/AssessmentState": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "summary": "Returns the complete list of AssessmentState types",
        "operationId": "ReferenceData_AssessmentState",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.My"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/all": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Get all suppliers.",
        "operationId": "Supplier_GetSuppliers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Suppliers.Supplier"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/{id}": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Get a specific supplier.",
        "operationId": "Supplier_GetSupplier",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the supplier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Suppliers.Supplier"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Create a new supplier.",
        "operationId": "Supplier_AddSupplier",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the supplier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "supplier",
            "in": "body",
            "description": "The details for the supplier.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Suppliers.SupplierDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.Suppliers.SupplierDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Manage.Suppliers"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/{id}/visibility/{visible}": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Set wether a supplier should be hidden from repairers in InPart",
        "operationId": "Supplier_SetSupplierVisibility",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the supplier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "visible",
            "in": "path",
            "description": "True if the supplier should be available for new linkages in InPart, false otherwise",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "Manage.Suppliers"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/registered": {
      "get": {
        "tags": [
          "Supplier"
        ],
        "summary": "Get all registered suppliers",
        "operationId": "Supplier_GetRegisteredSuppliers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Suppliers.RegisteredSupplier"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/registered/{id}": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Register a supplier site.\r\nNote: if a supplier site already exists with that ID, the existing record will be updated.",
        "operationId": "Supplier_RegisterSupplier",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unqiue ID of the supplier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "siteId",
            "in": "query",
            "description": "The unique ID of the site: 6 characters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "erpId",
            "in": "query",
            "description": "The ERP ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "Manage.Suppliers"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Supplier"
        ],
        "summary": "De-register a supplier.",
        "operationId": "Supplier_DeleteRegisteredSupplier",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the supplier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "Manage.Suppliers"
            ]
          }
        ]
      }
    },
    "/api/users/suppliers/registered/{id}/{status}": {
      "post": {
        "tags": [
          "Supplier"
        ],
        "summary": "Update the status of a registered supplier.",
        "operationId": "Supplier_UpdateRegisteredSupplierStatus",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the supplier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "path",
            "description": "The updated status of the supplier registration.",
            "required": true,
            "type": "string",
            "enum": [
              "OrderingAllowed",
              "OrderingNotAllowed"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "oauth2": [
              "Manage.Suppliers"
            ]
          }
        ]
      }
    },
    "/api/sites": {
      "get": {
        "tags": [
          "Terminal"
        ],
        "summary": "Get details about a company's' sites.",
        "operationId": "Terminal_GetSites",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.SiteDetails"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.System"
            ]
          }
        ]
      }
    },
    "/api/sites/{siteId}": {
      "get": {
        "tags": [
          "Terminal"
        ],
        "summary": "Get details about a specific site.",
        "operationId": "Terminal_GetSite",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "description": "Site ID&gt;",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.SiteDetails"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.System"
            ]
          }
        ]
      }
    },
    "/api/users/{id}/terminals": {
      "get": {
        "tags": [
          "Terminal"
        ],
        "summary": "Gets all the terminals belonging to the specified user.",
        "operationId": "Terminal_GetUserTerminals",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the user.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.Terminal"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.System"
            ]
          }
        ]
      }
    },
    "/api/tla/canQuote/{assessmentId}": {
      "get": {
        "tags": [
          "TotalLoss"
        ],
        "operationId": "TotalLoss_CanQuote",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "assessmentId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company",
              "TLA.CreateQuote"
            ]
          }
        ]
      }
    },
    "/api/tla/requestQuote": {
      "post": {
        "tags": [
          "TotalLoss"
        ],
        "operationId": "TotalLoss_RequestQuote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.TLA.RequestQuote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "Assessment.Detail+ImageAccess",
              "ReferenceData.Company",
              "ReferenceData.System",
              "TLA.CreateQuote"
            ]
          }
        ]
      }
    },
    "/api/tla/updateQuote": {
      "post": {
        "tags": [
          "TotalLoss"
        ],
        "operationId": "TotalLoss_UpdateQuote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.TLA.UpdateQuote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company",
              "TLA.CreateQuote"
            ]
          }
        ]
      }
    },
    "/api/tla/cancelQuote/{quoteId}": {
      "get": {
        "tags": [
          "TotalLoss"
        ],
        "operationId": "TotalLoss_CancelQuote",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company",
              "TLA.CreateQuote"
            ]
          }
        ]
      }
    },
    "/api/users/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get information about a specified user.  \r\nNOTE: The user being queried must belong to the same company as the calling user.",
        "operationId": "User_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "A guid or 'me'.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "User Returned",
            "schema": {
              "$ref": "#/definitions/AudaAPI.Models.UserExtended"
            }
          },
          "400": {
            "description": "The input data is invalid or not understood",
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.ErrorResponse"
            }
          },
          "404": {
            "description": "Resource does not exist",
            "schema": {
              "$ref": "#/definitions/AudaAPI.WebAPI.Models.ErrorResponse"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      }
    },
    "/api/users/HasAccessPermission": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "To find if user have access to application specified",
        "operationId": "User_HasAccessPermission",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "description": "OBID of application",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Gets a list of all users associated with the company to which the currently authenticated user belongs.",
        "operationId": "User_GetUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AudaAPI.Models.User"
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "ReferenceData.Company"
            ]
          }
        ]
      }
    },
[...]
